<form [formGroup]="formPopup" (ngSubmit)="submit()">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="From Date" formControlName="fromDateCustomTime">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="To Date" formControlName="toDateCustomTime">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div mat-dialog-actions align="end">
          <button mat-button type="button" (click)="close(false)">Cancel</button>
          <button mat-flat-button type="submit" flex="15" color="primary">Save</button> 
        </div>
      </form>