<div class="row clearfix" id="mytimesheettardiness">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content header-filter">
      <div class="header view-web">
        <h2 class="title">{{ "Check in punishments" | localize }}</h2>
        <div class="filter-date">
          <div class="item">
            <label>Year: </label>
            <mat-form-field appearance="outline">
              <mat-select name="yearTardinessSelect" [(value)]="year" (selectionChange)="onDateChange()">
                <mat-option *ngFor="let item of years" [value]='item'>
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="item">
            <label>Month: </label>
            <mat-form-field appearance="outline">
              <mat-select name="monthTardinessSelect" [(value)]="month" (selectionChange)="onDateChange()">
                <mat-option *ngFor="let item of months" [value]='item'>
                  {{item +1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="item">
            <p class="text-note-complain">
              Click vào button Complain và nhập nội dung khiếu nại nếu bạn thấy không đúng.
            </p>
          </div>
          <div _ngcontent-c9="" class="item">
            <div class="d-flex align-items-center">
              <span _ngcontent-c9="" style="color: #d32f2f; font-size: 14px; margin-right: 10px;"><b _ngcontent-c9="">Tổng tiền phạt tháng:</b> {{ totalMonthlyPunishment | number }} VNĐ</span>
              <button mat-raised-button color="primary" class="btn-confirm-punishment" (click)="openConfirmationDialog()">Confirm</button>
            </div>
          </div>
        </div>
        <ul class="header-dropdown m-r--5">
          <li>
            <button name="menuTardinessBtn" mat-icon-button [matMenuTriggerFor]="headerMenu123"
              class="header-dropdown-mat-icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu123="matMenu">
              <button name="refreshTardinessBtn" mat-menu-item (click)="getData()">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <div class="view-mobile">
        <ng-container *ngTemplateOutlet="headerTardinessMobile"></ng-container>
      </div>



      <div class="table-padding" style="position: relative;" [busy]="isTableLoading">
        <div class="table-responsive">
          <table class="table table-hover table-striped styleUser">
            <thead>
              <tr>
                <th rowspan="2" style="width: 100px;">
                  {{ "Date" | localize }}
                </th>
                <th colspan="2" style="min-width: 160px;">
                  {{ "Checking time" | localize }}
                </th>
                <th style="width: 80px;" rowspan="2">
                  {{ "Tracker Time" | localize }}
                </th>
                <th rowspan="2" class="edited-by-column">
                  {{ "Edited by" | localize }}
                </th>

                <th style="min-width: 490px;" [attr.colspan]="isBasicUser ? 8 : 10">
                  {{ "Punishments" | localize }}
                </th>
                <th style="min-width: 150px; max-width: 300px; width: 200px;" rowspan="2">
                  {{ "Complain" | localize }}
                </th>
                <th style="min-width: 150px; max-width: 300px; width: 200px;" rowspan="2">
                  {{ "Complain Reply" | localize }}
                </th>
                <th style="min-width: 70px; width: 70px;" rowspan="2">
                  {{ "Action" | localize }}
                </th>

              </tr>
              <tr>
                <th style="width: 100px;">Check in</th>
                <th style="width: 100px;">Check out</th>

                <th class="punish-col" rowspan="2">
                  {{ "CheckIn CheckOut" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "Daily" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "Mention" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "Tracker" | localize }}
                </th>
                <th class="punish-col" rowspan="2" *ngIf="!isBasicUser">
                  {{ "Review Intern" | localize }}
                </th>
                <th class="punish-col" rowspan="2" *ngIf="!isBasicUser">
                  {{ "Pm Report" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "Ant" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "UnlockTS Gmail" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "UnlockTS IMS" | localize }}
                </th>
                <th class="punish-col" rowspan="2">
                  {{ "Total" | localize }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (groupedTimekeeping), index as i">
                <td style="text-align: center;">{{formatDate(item.date)}}</td>
                <td style="text-align: center;">
                  <span>{{item.checkIn}}</span>

                </td>
                <td style="text-align: center;">
                  <span>{{item.checkOut}}</span>

                </td>
                <td style="text-align: center;">
                  <span>{{trackerTimeFormat(item.trackerTime)}}</span>
                </td>

                <td class="text-center edited-by-cell"><span class="pm" *ngIf="item.editByUserName">{{item.editByUserName}}</span></td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.attendancePunish)" 
                        *ngIf="item.attendancePunish > 0"
                        [matTooltip]="getAttendancePunishmentTypes(item)">
                    {{ formatPunishmentAmount(item.attendancePunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.dailyPunish)" *ngIf="item.dailyPunish > 0">
                    {{ formatPunishmentAmount(item.dailyPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.mentionPunish)" *ngIf="item.mentionPunish > 0">
                    {{ formatPunishmentAmount(item.mentionPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.trackerPunish)" *ngIf="item.trackerPunish > 0">
                    {{ formatPunishmentAmount(item.trackerPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;" *ngIf="!isBasicUser">
                  <span [class]="getCssClassByPunish(item.reviewInternPunish)" *ngIf="item.reviewInternPunish > 0">
                    {{ formatPunishmentAmount(item.reviewInternPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;" *ngIf="!isBasicUser">
                  <span [class]="getCssClassByPunish(item.pmReportPunish)" *ngIf="item.pmReportPunish > 0">
                    {{ formatPunishmentAmount(item.pmReportPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.antPunish)" *ngIf="item.antPunish > 0">
                    {{ formatPunishmentAmount(item.antPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.unlockTSGmailPunish)" *ngIf="item.unlockTSGmailPunish > 0">
                    {{ formatPunishmentAmount(item.unlockTSGmailPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [class]="getCssClassByPunish(item.unlockTSIMSPunish)" *ngIf="item.unlockTSIMSPunish > 0">
                    {{ formatPunishmentAmount(item.unlockTSIMSPunish) }}
                  </span>
                </td>

                <td class="punish-col" style="text-align: center;">
                  <span [ngStyle]="{ color: item.totalDayPunishment === 0 ? '#388e3c' : '#d32f2f', 'font-weight': 'bold' }">
                    {{ formatPunishmentAmount(item.totalDayPunishment) }}
                  </span>
                </td>
                
                <td class="text-center complain-col" style="word-wrap: break-word; overflow: hidden;">
                  <p *ngIf="(!item.structuredUserNotes || item.structuredUserNotes.length === 0) && item.userNote" class="complain-text">
                    {{item.userNote}}
                  </p>
                  <span *ngIf="(!item.structuredUserNotes || item.structuredUserNotes.length === 0) && !item.userNote">-</span>
                  <div *ngIf="item.structuredUserNotes && item.structuredUserNotes.length > 0" class="structured-complaints" style="text-align: left;">
                    <div class="complain-content" [class.expanded]="item.showAllComplaints">
                      <div *ngFor="let complaint of item.structuredUserNotes" class="complaint-item">
                        <div class="punishment-type">{{ complaint.punishmentName }}:</div>
                        <div class="complain-text">{{ complaint.userNote }}</div>
                      </div>
                    </div>

                    <div class="show-more-container" *ngIf="hasMultipleLines(item, 'complaint')">
                      <button mat-button color="primary" (click)="toggleUserNotes(item); $event.stopPropagation();" class="show-more-button">
                        <mat-icon>{{ item.showAllComplaints ? 'expand_less' : 'more_horiz' }}</mat-icon>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-center complain-reply-col" style="word-wrap: break-word; overflow: hidden;">
                  <span *ngIf="!item.structuredNoteReplies || item.structuredNoteReplies.length === 0">-</span>
                  <div *ngIf="item.structuredNoteReplies && item.structuredNoteReplies.length > 0" class="structured-replies">
                    <div class="complain-content" [class.expanded]="item.showAllReplies">
                      <div *ngFor="let reply of item.structuredNoteReplies" class="complaint-item">
                        <div class="punishment-type">{{reply.punishmentName}}:</div>
                        <div class="complain-text">{{reply.noteReply}}</div>
                      </div>
                    </div>

                    <div class="show-more-container" *ngIf="hasMultipleLines(item, 'reply')">
                      <button mat-button color="primary" (click)="toggleNoteReplies(item); $event.stopPropagation();" class="show-more-button">
                        <mat-icon>{{ item.showAllReplies ? 'expand_less' : 'more_horiz' }}</mat-icon>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <button *ngIf="permission.isGranted(Timekeeping_UserNote)"
                    [name]="'complainBtn-'+item.timekeepingId" class="btn btn-icon btn-sm"
                    (click)="openComplainDialog(item)" matTooltip="Complain" matTooltipPosition="above">
                    <mat-icon>feedback</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #headerTardinessMobile>
  <div class="header">
    <div class="header-tardiness">
      <div class="title-header">{{ "Check in punishments" | localize }}</div>
      <button name="refreshTardinessBtn" style="height: 40px" mat-flat-button (click)="getData()" color="primary">
        Refresh
      </button>
    </div>
    <div class="filter-date">
      <div class="filer-month-year">
        <div class="item">
          <label>Year: </label>
          <mat-form-field appearance="outline">
            <mat-select name="yearTardinessSelect" [(value)]="year" (selectionChange)="onDateChange()">
              <mat-option *ngFor="let item of years" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="item">
          <label>Month: </label>
          <mat-form-field appearance="outline">
            <mat-select name="monthTardinessSelect" [(value)]="month" (selectionChange)="onDateChange()">
              <mat-option *ngFor="let item of months" [value]="item">
                {{ item + 1 }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="punished">
        <div class="item">
          <p class="text-note-complain">
            Click vào button Complain và nhập nội dung khiếu nại nếu bạn thấy
            không đúng.
          </p>
        </div>
        <div class="item">
          <div class="d-flex align-items-center">
            <p class="text-total-monthly-punishment" style="margin-top: 4px; margin-right: 10px;">
              Tổng tiền phạt tháng: <b>{{ totalMonthlyPunishment | number }} VNĐ</b>
            </p>
            <button mat-raised-button color="primary" class="btn-confirm-punishment" (click)="openConfirmationDialog()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>