
.styleUser > thead > tr > th{
    padding: 4px 4px !important;
    min-width: 50px;
    text-align: center;
    border: 0.2px solid rgba(204, 204, 204, 0.35);
}

.styleUser > tbody > tr > td{
    padding: 4px 4px !important;
    border: 0.2px solid rgba(204, 204, 204, 0.35);
}

.styleUser {
    border-collapse: collapse !important;
}

.table-responsive th{
    vertical-align: middle;
}

.btn-route{
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0px;
    color:#001fff;
}

.btn-route:hover{
    text-decoration: underline;
}

.btn{
    cursor: pointer;
}

.red{
    color: red;
    font-weight: bold;
}

.green{
    color: green;
    font-weight: bold;
}


.btn-back{
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 1;
}

.time{
    max-width: 40px;
    margin: auto;
}

.button24 {
    width: 24px;
    height: 24px;
}

.icon24 {
    font-size: 16px;
    margin-top: -8px;
}

::ng-deep #mytimesheettardiness .mat-form-field-wrapper{
    padding-bottom: 0;
}

.text-note-complain{
    color: blue;
    text-align: left;
    margin: 0;
}

.table-padding{
    padding: 20px;
  }
  
  .view-mobile {
    display: none;
  }
  
  .view-web {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    :host {
      .view-mobile {
        display: block;
      }

      .main-content {
        padding: 0;
      }
  
      .view-web {
        display: none;
      }
  
      .header {
        flex-direction: column;
        gap: 16px;
        padding: 12px;
      }
      .table-padding{
        padding: 12px;
      }
      .header-tardiness {
        display: flex;
        gap: 8px;
        align-items: center;
      }
      .filter-date {
        flex-direction: column;
        gap: 12px;
      }
      .header-filter .header .filter-date .item {
        margin-left: 0;
      }
      .filter-date .item label {
        width: 40px;
      }
      .filer-month-year {
        display: flex;
        gap: 16px;
      }
      .title-header {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        color: black;
      }
      .total-punished {
        font-size: 13px;
        font-weight: 600;
        line-height: 19.5px;
        letter-spacing: -0.011em;
        color: black;
      }
      .text-note-complain {
        font-size: 13px;
        font-weight: 400;
        line-height: 16.9px;
        letter-spacing: -0.011em;
        color: #646464;
      }
      .punished {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
}
