.heading-checkbox {
    position: absolute;
    right: 20px;
    top: 25%;
    max-width: 200px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

.heading-checkbox .checkbox-descr, .heading-checkbox .workingtime-text {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.panel-heading {
    position: relative;
    overflow: hidden;
}

.title-date {
    display: inline-block;
    margin-left: 20px;
}

.object-name {
    width: calc(100% - 150px);
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.style th {
    min-width: 100px;
    text-align: center;
    border: 0.5px solid rgba(204, 204, 204, 0.35);
}

.style td {
    border: 0.5px solid rgba(204, 204, 204, 0.35);
    text-align: center;
}