
<div class="menu">
    <ul class="list">
        <ng-template ngFor let-menuItem [ngForOf]="menuItems" let-mainMenuItemIndex="index">
            <li *ngIf="isMenuItemVisible(menuItem)" routerLinkActive="active"  [class.menu-open]="!menuItem.isCollapsed" [class.has-treeview]="menuItem.children">
                <!-- route name -->
                <a [routerLink]="[menuItem.route]"
                    *ngIf="!menuItem.children&& menuItem.route.indexOf('http') != 0" [class.active]="menuItem.isActive"
                    class="d-flex" style="align-items: center;">
                    <i *ngIf="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
                    <span>{{menuItem.name}}</span>
                </a>
                <!-- Static link (starts with 'http') -->
                <a href="{{menuItem.route}}" target="_blank"
                    *ngIf="!menuItem.children && menuItem.route.indexOf('http') == 0"
                    class="d-flex" style="align-items: center;">
                    <i *ngIf="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
                    <span>{{menuItem.name}}</span>
                </a>
                <!-- Has child menu items (so, this is a parent menu) -->
                <a  [ngClass]="{'menu-toggle': menuItem.children,'active':menuItem.isActive}"
                    *ngIf="menuItem.children"
                    (click)="menuItem.isCollapsed = !menuItem.isCollapsed"
                    class="d-flex" style="align-items: center;">
                    <i *ngIf="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
                    <span>{{menuItem.name}}</span>
                </a>
                <ul class="ml-menu" *ngIf="menuItem.children" [collapse]="menuItem.isCollapsed" [isAnimated]="true" >
                    <ng-template ngFor let-subMenuItem [ngForOf]="menuItem.children" let-mainMenuItemIndex="index">
                        <li *ngIf="isMenuItemVisible(subMenuItem)" routerLinkActive="active" [class.menu-open]="!subMenuItem.isCollapsed" [class.has-treeview]="subMenuItem.children" >
                            <!-- route name -->
                            <a [routerLink]="[subMenuItem.route]" 
                                *ngIf="!subMenuItem.children && subMenuItem.route.indexOf('http') != 0" [class.active]="subMenuItem.isActive"
                                class="d-flex" style="align-items: center;">
                                <i *ngIf="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</i>
                                <span>{{subMenuItem.name}}</span>
                            </a>
                            <!-- Static link (starts with 'http') -->
                            <a href="{{subMenuItem.route}}"  target="_blank"
                                *ngIf="!subMenuItem.children && subMenuItem.route.indexOf('http') == 0"
                                class="d-flex" style="align-items: center;">
                                <i *ngIf="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</i>
                                <span>{{subMenuItem.name}}</span>
                            </a>
                            <!-- Has child menu items (so, this is a parent menu) -->
                            <a [ngClass]="{'menu-toggle': subMenuItem.children}"
                                [class.active]="subMenuItem.isActive"
                                *ngIf="subMenuItem.children"
                                (click)="subMenuItem.isCollapsed = !subMenuItem.isCollapsed"
                                class="d-flex" style="align-items: center;">
                                <i *ngIf="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</i>
                                <span>{{subMenuItem.name}}</span>
                            </a>
                            <ul class="ml-menu" *ngIf="subMenuItem.children" [collapse]="subMenuItem.isCollapsed" [isAnimated]="true"  >
                                <ng-template ngFor let-subSubMenuItem [ngForOf]="subMenuItem.children" let-mainMenuItemIndex="index" style="height: 650px !important;" >
                                    <li *ngIf="isMenuItemVisible(subSubMenuItem)" routerLinkActive="active" [class.menu-open]="!subSubMenuItem.isCollapsed" [class.has-treeview]="subSubMenuItem.children" >
                                        <!-- route name -->
                                        <a [routerLink]="[subSubMenuItem.route]"
                                            *ngIf="subSubMenuItem.route.indexOf('http') != 0" [class.active]="subSubMenuItem.isActive"
                                            class="d-flex" style="align-items: center;">
                                            <i *ngIf="subSubMenuItem.icon" class="material-icons">{{subSubMenuItem.icon}}</i>
                                            <span>{{subSubMenuItem.name}}</span>
                                        </a>
                                        <!-- Static link (starts with 'http') -->
                                        <a href="{{subSubMenuItem.route}}" target="_blank"
                                            *ngIf="subSubMenuItem.route.indexOf('http') == 0"
                                            class="d-flex" style="align-items: center;">
                                            <i *ngIf="subSubMenuItem.icon" class="material-icons">{{subSubMenuItem.icon}}</i>
                                            <span>{{subSubMenuItem.name}}</span>
                                        </a>
                                        <!-- Has child menu items (so, this is a parent menu) -->
                                        <a [ngClass]="{'menu-toggle': subSubMenuItem.children}"
                                            [class.active]="subSubMenuItem.isActive"
                                            *ngIf="subSubMenuItem.children"
                                            (click)="subSubMenuItem.isCollapsed = !subSubMenuItem.isCollapsed"
                                            class="d-flex" style="align-items: center;">
                                            <i *ngIf="subSubMenuItem.icon" class="material-icons">{{subSubMenuItem.icon}}</i>
                                            <span>{{subSubMenuItem.name}}</span>
                                        </a>
                                    </li>
                                </ng-template>
                            </ul>
                        </li>
                    </ng-template>
                </ul>
            </li>
        </ng-template>
    </ul>
</div>
