<form #disburseRequestForm="ngForm" style="position: relative;" autocomplete="off" id="frm_create_group" novalidate>
  <p style="cursor: grab;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle mat-dialog-title>Invoice ID #{{this.invoiceInfo.id}}</p>
  <mat-icon (click)="close(0)" style="position: absolute; top: 0; right: 0;
  cursor: pointer;">close</mat-icon>
  <hr>
  <mat-dialog-content class="mat-typography">
        <div class="align-item format-col form-group row required">
          <label class="col-md-4 col-form-label" for="connectionString">
            {{ "Invoice money:" | localize }}
          </label>
          <mat-form-field class="col-xl-8 col-lg-8 col-md-8 col-xs-8" appearance="outline">
            <input currencyMask [options]="{prefix: '', align: 'left', thousands: ',', precision: '0', suffix: ' VNĐ'}"
            matInput="matInput" [(ngModel)]="invoiceAmount" name="money" required/>
          </mat-form-field>
          <label  class="col-md-4" >
            {{"HasVAT:" | localize}}
          </label>
          <input class="col-xl-8" appearance="outline" style="position: static; opacity: 1; height: 20px; margin-left: 10px; width: 40px;" type="checkbox" [(ngModel)]="hasVAT" name = "hasVAT" [checked]="hasVAT">
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button name="cancelButton" class="btn btn-default" mat-raised-button mat-dialog-close >{{l('Cancel')}}</button>
      <button name="saveButton" mat-raised-button color="primary" (click)="onSaveAndClose()"  cdkFocusInitial>{{l('Save')}}</button>
  </mat-dialog-actions>
</form>
