.review-parameters{
    padding: 10px 10px 0px 10px;
    width: 100%;
    min-width: 250px;
    border: none;
    cursor: pointer;
    resize: none;
    background-color: transparent;
    text-overflow: ellipsis;
    line-height: 25px;
    word-wrap: break-word;
}

.preReview-parameters{
    padding: 10px;
    width: 100%;
    min-width: 250px;
    border: none;
    resize: none;
    cursor: pointer;
    overflow-y: scroll;
    background-color: transparent;
    text-overflow: ellipsis;
    line-height: 25px;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    height: 82px;
    -webkit-box-orient: vertical;
}

.review-parameters::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.review-parameters::-webkit-scrollbar-thumb
{
	background-color: #cecece;
	border: 2px solid #cecece;
}

.preReview-parameters::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.preReview-parameters::-webkit-scrollbar-thumb
{
	background-color: #cecece;
	border: 2px solid #cecece;
}
