h3 {
    margin: 0 0 10px;
}
  
pre {
background-color: #f5f5f5;
padding: 15px;
}
.flex-between {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}
.overflow-x {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 30px;
}

.btn-group {
display: inline-flex;
}

.cal-cell-top .cal-day-badge {
margin-top: 0px;
margin-bottom: 0px;
}
.cal-day-badge {
margin-right: 3px;
margin-left: 5px;
}
.cal-cell-top .cal-day-number {
margin-top: 5px;
margin-bottom: 0px;
margin-right: 5px;
}

.cal-cell-top .cal-day-item {
margin-top: 5px;
margin-bottom: 5px;
}

.cal-day-item img {
max-width: 20px;
max-height: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
margin: 0;
}

.mat-form-field-wrapper {
padding: 0;
}

.pin-wrap {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border-radius: 10px;
color: white;
}

::ng-deep .mat-pseudo-checkbox-checked::after {
width: 11px !important;
height: 5px !important;
left: 0.5px !important;
}
.filter {
margin-left: 0;
padding-right: 0px;
padding-left: 0;
margin-right: 0;
}
.date {
margin-right: -40px;
padding-right: 0px;
}
.search-text {
padding-left: 0px;
}

.day-chip-full-day {
background-color: #db0000 !important;
}

.day-chip-morning {
background-color: #0c51a0 !important;
}

.day-chip-afternoon {
background-color: #d000db !important;
}

.day-chip-custom {
background-color: #f27024 !important;
}

.onsite {
background-color: #009688 !important;
}
.remote {
background-color: #0c51a0;
}
.header {
display: flex;
width: 100%;
justify-content: space-between;
}

.header .title {
margin-top: 16px;
}

.extra-action-group {
display: flex;
justify-content: end;
align-items: center;
}

.label-button-group {
display: flex;
align-items: center;
}

.menu-label-button-group {
display: none;
}

.label-button-group > * + * {
margin-left: 8px;
}

@media screen and (max-width: 490px) {
.label-button-group {
    display: none;
}

.menu-label-button-group {
    display: block;
}
}

.header-dropdown-mat-icon-button {
margin-left: 8px;
}

.filter-group {
display: flex;
flex-direction: column;
padding: 20px;
}

.filter-date-group {
display: flex;
}
.filter-date-group > * + * {
margin-left: 8px;
}

.filter-item {
min-width: 80px;
}

.filter-non-date-group {
display: flex;
flex-direction: column;
}

@media screen and (min-width: 670px) {
.filter-non-date-group {
    display: flex;
    flex-direction: row;
}

.filter-non-date-group > * + * {
    margin-left: 8px;
}
}

::ng-deep .item .mat-form-field-appearance-outline .mat-form-field-wrapper {
margin: 0;
padding: 0;
}
.m-5 {
margin: 5px;
}
::ng-deep .mat-form-field-infix {
padding: 0.75em 0 !important;
}
.cal-day-number {
position: absolute;
right: 5px;
top: 0;
margin: 0 !important;
font-size: 15px !important;
}

.clearfix {
    padding: 0 15px;
}