.btn-check-default {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .title-modal {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #212121;
    margin-top: 0;
    margin-bottom: 0;
  }
  .date-time {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #212121;
    margin-top: 0;
    margin-bottom: 0;
  }
  .mat-dialog-container {
    padding: 20px;
  }
}
