
.unlock-dialog-content {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 8px;
}

.unlock-dialog-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.swal-icon--warning {
  margin: 0 auto 12px;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 3.55556px solid rgb(248, 212, 134);
  border-radius: 50%;
  box-sizing: content-box;
  padding: 0;
  background: transparent;
}

.swal-icon--warning__body {
  display: block;
  position: absolute;
  width: 5px;
  height: 47px;
  background: rgb(248, 187, 134);
  border-radius: 2px;
  top: 10px;
  left: 40px;
  margin: 0 0 0 -2px;
}

.swal-icon--warning__dot {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -3.5px;
  background: rgb(248, 187, 134);
  top: 54px
}

.unlock-dialog-title {
  margin: 0;
  font-size: 25px !important;;
  font-weight: 600;
}

.unlock-dialog-message {
  margin-top: 8px;
  margin-bottom: 0;
  color: #666;
  font-size: 14px;
}

.unlock-dialog-actions-main {
  margin-top: 16px;
}

.unlock-dialog-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.unlock-dialog-footer-buttons {
  display: flex;
  gap: 12px;
}

.unlock-dialog-cancel-btn {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #555;
}