.updated-at {
    min-width: 154px;
    max-width: 154px;
}

.info-name-box{
    margin: 5px 10px 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-name{
    display: flex;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
}
.table-td {
    min-width: 100px
}

.btn-new-request{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
      white-space: pre-wrap;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .card .body {
        padding: 12px;
    }
    .padding-item {
        padding-left: 0;
        padding-right: 0;
    }

    .table-responsive {
        border: none;
    }

    :host .table-responsive>.table-bordered {
        border: 1px solid #eee;
    }

    .btn-new-request{
        justify-content: flex-start;
    }

    .search-wrapper {
        margin-bottom: 0 !important;
    }

    :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0 !important;
    }

}