.updated-at {
    min-width: 154px;
    max-width: 154px;
}

.info-name-box{
    margin: 5px 10px 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-name{
    display: flex;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
}
