.updated-at {
    min-width: 154px;
    max-width: 154px;
}

.info-name-box{
    margin: 5px 10px 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-name{
    display: flex;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
}
.table-td {
    min-width: 100px
}
@media screen and (max-width: 600px) {
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
    }
}