<div *ngIf="permission.isGranted(VIEW)" class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: auto; padding: 0px">
    <div class="card">
      <div class="header">
        <h2>{{ "Capability" | localize }}</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item (click)="refresh()">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <div class="body" style="height: 100%">
        <div class="row">
          <div class="col-lg-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Search by Capability Name</mat-label>
              <input type="search" [(ngModel)]="searchText" name="capabilitySearch" (keyup.enter)="refresh()" matInput>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label> {{ "Type" | localize }}</mat-label>
              <mat-select name="capabilityType" [disableOptionCentering]="true" [(value)]="filter.capabilityType"
                (selectionChange)="onCapabilityTypeChange()">
                <mat-option *ngFor="let type of capabilityTypeList" [value]="type.value">
                  {{type.key}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 button-container text-right">
            <button mat-raised-button color="primary" *ngIf="permission.isGranted(ADD)" class="btn"
              (click)="onCreate()">
              <mat-icon style="color: white" matPrefix>add</mat-icon>
              <span>
                Create
              </span>
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead style="background-color: #014C6E; color: white;">
              <tr>
                <th class="col-stt">No</th>
                <th>Name</th>
                <th>Type</th>
                <th>Note</th>
                <th class="col-apply_settings">Apply Setting</th>
                <th class="col-action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of capabilityList | paginate
              : {
                  id: 'server',
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                } ; let i = index">
                <td>{{i + 1 + (pageNumber - 1)*pageSize}}</td>
                <td>{{item.name}}</td>
                <td class="text-center">{{getTypeName(item.type)}}</td>
                <td>
                  <div class="item-note max-line-content-1" resizeCell [maxLine]="1" [innerHtml]="item.note | safeHtml">
                  </div>
                </td>
                <td class="col-apply_settings">
                  <div class="apply-settings_content">
                    <span class="badge badge-pill" [style.backgroundColor]="getColor(apply.usertype)"
                      *ngFor="let apply of item.applySetting">{{apply.usertypeName+" "+apply.positionName+",
                      "+apply.coefficient}}&nbsp;</span>
                  </div>
                </td>
                <td class="text-center">
                  <button *ngIf="permission.isGranted(EDIT)" mat-icon-button (click)="onEdit(item)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button *ngIf="permission.isGranted(DELETE)" mat-icon-button (click)="onDelete(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="footer">
        <div class="abp-pagination-controls-wrapper">
          <abp-pagination-controls [totalNumber]="totalItems" (selectionChange)="getPageSize($event)"
            (pageChange)="getDataPage($event)" id="server"></abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>