<form #pmSendRequestForm="ngForm" style="position: relative" autocomplete="off" id="frm_create_group" novalidate>
  <h1 style="cursor: grab" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle mat-dialog-title>
    {{ "PM Edit Request" | localize }} :
  </h1>
  <mat-icon (click)="close(0)" style="position: absolute; top: 0; right: 0; cursor: pointer">close</mat-icon>
  <hr />
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Projects</mat-label>
            <mat-select name="selectedProjectId" [(value)]="selectedProjectId" (selectionChange)="getAllRequest()">
              <mat-form-field class="p-2 input-wrapper" style="
                  position: sticky;
                  top: 0;
                  z-index: 2;
                  background-color: white;
                  padding-left: 15px;
                ">
                <input type="text" matInput name="project" class="search-input" placeholder="Search" [(ngModel)]="this.projectSearch"
                  (keydown)="$event.stopPropagation()" (ngModelChange)="handleSearchProject()" />
              </mat-form-field>
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let item of project" [value]="item.projectId">
                {{ item.projectName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Branch</mat-label>
            <mat-select name="branch" [(value)]="branchId" (selectionChange)="getAllRequest()">
              <mat-form-field class="p-2 input-wrapper" style="
                  position: sticky;
                  top: 0;
                  z-index: 2;
                  background-color: white;
                  padding-left: 15px;
                ">
                <input type="text" matInput name="Branch" class="search-input" placeholder="Search" [(ngModel)]="this.branchSearch"
                  (keydown)="$event.stopPropagation()" (ngModelChange)="handleSearchBranch()" />
              </mat-form-field>
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let item of listBranch" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Month</mat-label>
            <mat-select (selectionChange)="getAllRequest()" [(value)]="month">
              <mat-option value="">All</mat-option>
              <ng-container *ngFor="let m of listMonth">
                <mat-option [value]="m">
                  {{ m }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
        <button style="margin-top: 11px;" *ngIf="!isShowBtnAddUser" mat-raised-button color="primary" type="button" (click)="toggleShowAddUserDialog(); $event.stopPropagation()">
          Add users
        </button>
      </div>
  </div>
  <div *ngIf="requestInfo.length == 0">No data</div>
  <div *ngIf="requestInfo.length > 0">
    <div class="table-responsive d-flex">
      <div class="fixedHeader" style="max-height: calc(100vh - 450px);" [ngClass]="isShowBtnAddUser ? 'table-team-selected' : 'full-width'">
        <table class="table table-striped table-hover" [busy]="isLoading">
          <thead>
            <tr>
              <th>
                <mat-checkbox name="selectAll" (change)="setAll($event.checked)" matTooltip="Select/DeSelect all"
                  [checked]="allComplete" [indeterminate]="someComplete()" [color]="'primary'"
                  style="display: flex; justify-content: center">
                </mat-checkbox>
              </th>
              <th>
                <span>STT </span>
              </th>
              <th (click)="handleSortByColumn('employeeFullName')" style="cursor: pointer">
                <span>Employee </span>
                <i [ngClass]="iconSort" *ngIf="currentSortColumn === 'employeeFullName'"></i>
                <i *ngIf="currentSortColumn !== 'employeeFullName'" class="fas fa-sort"></i>
              </th>
              <th (click)="handleSortByColumn('branch')" style="cursor: pointer">
                <span>Branch </span>
                <i [ngClass]="iconSort" *ngIf="currentSortColumn === 'branch'"></i>
                <i *ngIf="currentSortColumn !== 'branch'" class="fas fa-sort"></i>
              </th>
              <th (click)="handleSortByColumn('project')" style="cursor: pointer">
                <span>Project </span>
                <i [ngClass]="iconSort" *ngIf="currentSortColumn === 'project'"></i>
                <i *ngIf="currentSortColumn !== 'project'" class="fas fa-sort"></i>
              </th>
              <th>Money</th>
              <th>Requester</th>
              <th (click)="handleSortByColumn('month')" style="cursor: pointer">
                <span>Month </span>
                <i [ngClass]="iconSort" *ngIf="currentSortColumn === 'month'"></i>
                <i *ngIf="currentSortColumn !== 'month'" class="fas fa-sort"></i>
              </th>
              <th>Year</th>
              <th (click)="handleSortByColumn('status')" style="cursor: pointer">
                <span>Status </span>
                <i [ngClass]="iconSort" *ngIf="currentSortColumn === 'status'"></i>
                <i *ngIf="currentSortColumn !== 'status'" class="fas fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requestInfo; let i = index">
              <td class="text-center">
                <mat-checkbox  name="selected" [checked]="getIsSelected(request)"
                  [color]="'primary'" (change)="handleSelectRequestInfoItem(i, $event)">
                </mat-checkbox>
              </td>
              <td style="text-align: center">{{ i + 1 }}</td>
              <td style="padding: 0px">
                <div class="info-name d-flex" style="align-items: center;">
                  <div class="info-name-box">
                    <div class="full-name">{{ request.employeeFullName }}</div>
                    <div class="email">{{ request.employeeEmailAddress }}</div>
                  </div>
                  <mat-icon style="color: #ff9800; margin-left: 5px" *ngIf="request.isNotInProject || request.isWarning"
                    matTooltip="This employee is not in your project!">warning</mat-icon>
                </div>
              </td>
              <td style="text-align: center">
                <span class="branch label" *ngIf="request.branchId !== null"
                  [style.backgroundColor]="request.branchColor">
                  {{ request.branchName }}
                </span>
              </td>
              <td>{{ request.projectName }}</td>
              <td>{{ request.money | currency : "VND" : "" }}</td>
              <td style="padding: 0px">
                <div class="info-name">
                  <div class="info-name-box">
                    <div class="full-name">{{ request.requesterFullName }}</div>
                    <div class="email">{{ request.requesterEmailAddress }}</div>
                  </div>
                </div>
              </td>
              <td style="text-align: center">
                {{ request.applyMonth | date : "MM" }}
              </td>
              <td>{{ request.applyMonth | date : "yyyy" }}</td>
              <td class="text-center">
                <span [ngClass]="{
                    'bg-grey': request.status === 0,
                    'bg-yellow': request.status === 1
                  }" class="label status-label">
                  {{ listStatus[request.status + 1].title }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="isShowBtnAddUser" class="table-team-select">
        <mat-expansion-panel [expanded]="true">
          <app-add-user-other-project *ngIf="isShowBtnAddUser"
          [isCreateRequest]="false"
          [requestAdding]="requestAdding"
          (onAddUsers)="getSelectedUserOtherProject($event)"
          (onCancel)="closePopup($event)">
          </app-add-user-other-project>
        </mat-expansion-panel>
      </div>
    </div>
    <div>
      <span>Remain money: </span><b>{{ lastRemainMoney | currency : "VND" : "" }}</b>
    </div>
    <div style="margin-top: 18px">
      <span>Total money:
        <b>{{
          getTotalMoney() + lastRemainMoney | currency : "VND" : ""
          }}</b></span>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button class="btn btn-default" mat-raised-button mat-dialog-close>
      {{ l("Cancel") }}
    </button>
    <button type="button" mat-raised-button color="primary" (click)="onSaveAndClose()" [disabled]="
        saving
      " cdkFocusInitial>
      {{ l("Submit") }}
    </button>
  </mat-dialog-actions>
</form>

