<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [formControl]="dateControl" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="dayOff.name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="dateControl.hasError('required')" (click)="save()">Save</button>
</mat-dialog-actions>