h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.overflow-x {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
}

.mat-form-field-wrapper{
    padding: 0;
}
.btn-group{
    display: inline-flex;
    margin-right: 20px !important;
}

.m-5{
    margin: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.header .filter-date{
    display: flex;
}

.header .filter-date .item{
    margin-left: 20px;
    width: 80px;
}

.header .title{
    line-height: 46px;
}

.header .date {
    display: flex;
}

.refresh {
    position: absolute;
    top: 10px;
    right: 0
}

::ng-deep li .mat-icon {
    margin-top: 15px !important;
}

@media screen and (max-width: 768px) {
    .flex div {
        margin-top: 15px;
    }

    .card .header .header-dropdown {
        position: relative;
        padding: 0;
        margin-top: 10px;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .header {

        align-items: start;
        flex-direction: column;
    }

    .date {
        flex-direction: column;
    }
    .btn-group {
        width: fit-content;
        margin-top: 15px;
    }

    .header .filter-date .item:first-child{
        margin-left: 0
    }
}