<div class="user-modal">
  <div
    class="user-modal__header"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    mat-dialog-title
  >
    <div>
      <div class="user-modal__title">
        Import user working time
      </div>
      <div class="user-modal__subtitle">
        Upload Excel file to import user working time data.
      </div>
    </div>
  </div>

  <mat-dialog-content class="user-modal__body">
    <div class="user-modal__section">
      <div class="user-modal__section-title">File selection</div>
      
      <div class="user-modal__file-upload">
        <mat-form-field appearance="outline" class="user-modal__field">
          <mat-label>Choose file</mat-label>
          <input
            matInput
            type="file"
            id="file"
            name="selectFile"
            (change)="selectFile($event)"
            accept=".xlsx,.xls"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions
    align="end"
    class="user-modal__footer"
  >
    <button
      class="user-modal__btn user-modal__btn--ghost"
      mat-raised-button
      mat-dialog-close
      name="cancelBtn"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      name="importBtn"
      class="user-modal__btn user-modal__btn--primary"
      (click)="importExcel()"
    >
      Import
    </button>
  </mat-dialog-actions>
</div>