<div class="import-dialog-container">
    <div class="dialog-header">
        <h1 style="cursor: default; margin: 0;" mat-dialog-title>
            {{ "Import from CSV" | localize }}
        </h1>
        <mat-icon (click)="close()" class="close-icon">close</mat-icon>
    </div>
    <hr />

    <mat-dialog-content>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="file-input-group">
                    <div class="file-name-display" (click)="triggerFileInput()">
                        {{ fileName }}
                    </div>

                    <button mat-raised-button color="warn" class="btn-browse" (click)="triggerFileInput()">
                        {{ "Browse" | localize }}
                    </button>

                    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept=".csv, .xlsx">
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="btn btn-default" mat-raised-button (click)="close()" [disabled]="saving">
            {{ "Cancel" | localize }}
        </button>
        
        <button mat-raised-button color="warn" class="m-l-10" (click)="save()" [disabled]="!selectedFile || saving">
            {{ "Save" | localize }}
        </button>
    </mat-dialog-actions>
</div>