@media screen and (max-width: 600px) {
    :host ::ng-deep .app-date-filter .date-filter {
        padding: 0;
        margin-bottom: 0 !important;
    }

    .row-item {
        padding: 0;
        margin-bottom: 0 !important;
    }
}
.title-sort{
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
}
.mb-0{
    margin-bottom: 0px;
}

