<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "Project Management" | localize }}</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item name="refreshBtn" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>

      <div class="body">
        <div class="group">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-4 col-md-8 col-sm-6 col-xs-12 mb-0 row-item">
                <ng-container>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label> {{ "Branch" | localize }}</mat-label>
                    <mat-select name="branchId" [(value)]="branchId" (selectionChange)="searchOrFilter()">
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" [formControl]="branchSearch"
                          noEntriesFoundLabel="No matching found">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let branch of listBranch" [value]="branch.id">
                        {{ branch.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
              <app-date-filter (dateSelected)="onDateSelected($event)" class="app-date-filter"></app-date-filter>
            </div>
            <div class="row">
              <div class="col-lg-8 title-sort">
                <p class="mb-0">{{ "Sort by:" | localize }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-8 col-sm-6 col-xs-12 mb-0 row-item">
                <ng-container>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{ "User Type" | localize }}</mat-label>
                    <mat-select name="userTypeId" [(value)]="userTypeId" (selectionChange)="searchOrFilter()">
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" [formControl]="UserTypeSearch"
                          noEntriesFoundLabel="No matching found">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let userType of filterUserType" [value]="userType.value">
                        {{ userType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
              <div class="col-lg-4 col-md-8 col-sm-6 col-xs-12 mb-0 row-item">
                <ng-container>
                  <mat-form-field class="w-100 mt-2" appearance="outline">
                    <mat-label>{{ "Sort Order" | localize }}</mat-label>
                    <mat-select [(value)]="sortOrder" (selectionChange)="updateSortOrder()">
                      <mat-option [value]="SortOrderType.Ascending">{{
                        "Ascending" | localize
                        }}</mat-option>
                      <mat-option [value]="SortOrderType.Descending">{{
                        "Descending" | localize
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="row row-btn">
              <button class="body-btn" mat-raised-button name="clearSearchAndFilter" (click)="toggleView('table')">
                Table
              </button>
              <button class="body-btn" mat-raised-button color="primary" (click)="toggleView('chart')">
                Chart
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="isChartView" class="chart" [busy]="isTableLoading">
          <canvas id="myChart"></canvas>
        </div>
        <div *ngIf="!isChartView" class="table-responsive" [busy]="isTableLoading">
          <table class="table customTable">
            <thead>
              <tr>
                <th class="text-center col-lg-1">#</th>
                <th class="text-center col-lg-3">
                  <span>Project Name</span>
                </th>
                <th class="text-center col-lg-1">Expose</th>
                <th class="text-center col-lg-1">Shadow</th>
                <th class="text-center col-lg-2">PM</th>
                <th class="text-center col-lg-2">Deactive</th>
                <th class="text-center col-lg-2">
                   <span>Total</span>
                    <span (click)="toggleSortOrder()">
                            <i
                               class="pi pi-sort-amount-up text-primary p-l-5"
                               role="button"
                               *ngIf="sortOrder === SortOrderType.Ascending"></i>
                            <i
                               class="pi pi-sort-amount-down text-primary p-l-5" role="button"
                               *ngIf="sortOrder ===SortOrderType.Descending"></i>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let project of ( projects
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        });
                  index as i;
                ">
                <td class="text-center">
                  {{ (pageNumber - 1) * pageSize + i + 1 }}
                </td>
                <td class="col-lg-3 text-center" >
                  <div style="cursor: pointer; width: fit-content"  >
                    <b>{{ project.projectName }}</b>
                  </div>
                </td>
                <td class="text-center col-lg-1">{{ project.memberCount }}</td>
                <td class="text-center col-lg-1">
                  {{ project.shadowCount }}
                </td>
                <td class="text-center col-lg-2">
                 {{ project.pmCount }}
                  </td>
                <td class="text-center col-lg-2">
                  {{ project.deactiveCount }}
                </td>
                <td class="text-center col-lg-2">{{ project.totalUser }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="abp-pagination-controls-wrapper">
          <abp-pagination-controls [totalNumber]="totalItems" id="server" (selectionChange)="getPageSize($event)"
            (pageChange)="getDataPage($event)"></abp-pagination-controls>
          <div *ngFor="
              let item of projects
                | paginate
                  : {
                      id: 'server',
                      itemsPerPage: pageSize,
                      currentPage: pageNumber,
                      totalItems: totalItems
                    }
            "></div>
        </div>
      </div>
    </div>
  </div>
</div>
