.input-wrapper {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    padding-left: 15px;
}

@media screen and (max-width: 600px) {
    ::ng-deep .table-team-select {
        width: 80%;
    }
}