.input-wrapper {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    padding-left: 15px;
}

.desktop {
    display: block;
}
.mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    ::ng-deep .table-team-select {
        width: 100%;
    }
    .title {
        font-size: 20px;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}