<form [formGroup]="formData">
  <h2 style="cursor: grab;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle mat-dialog-title>
    Export Data Check Point
  </h2>

  <div class="form-control-wrapper">
      <div class="label-wrapper">
          <label>Date*</label>
      </div>
      <div class="date-list">
          <div class="date-item">
              <mat-form-field appearance="outline">
                  <mat-label>Choose start date</mat-label>
                  <input name="startDatePicker" matInput [matDatepicker]="pickerStartDate"  formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStartDate></mat-datepicker>
              </mat-form-field>
          </div>
          <span class="text-spacing">To</span>
          <div class="date-item">
              <mat-form-field appearance="outline">
                  <mat-label>Choose end date</mat-label>
                  <input name="endDatePicker" matInput [matDatepicker]="pickerEndDate" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEndDate></mat-datepicker>
              </mat-form-field>
          </div>
      </div>

  </div>
  <mat-dialog-actions align="end">
      <button class="btn btn-default" name="cancelBtn" mat-raised-button type="button" (click)="close(1)">
          {{l('Cancel')}}
      </button>
      <button mat-raised-button name="submitBtn" color="primary" [disabled]="!formData.valid" type=" export" flex="15"
          (click)="export()">
          {{l('Export')}}
      </button>
  </mat-dialog-actions>
</form>