.ms-off::after {
  display: none;
}
.ms-on::after {
  display: inline-block;
}
.ms-on::after, .ms-off::after {
  content: 'minute(s)';
  position: absolute;
  right: 0px;
  transition: all .05s ease-in-out;
}
.ms-off:focus-within::after {
  display: inline-block;
}
.opentalkFiler:focus-within{
  padding-right: 65px;
}
.heading-checkbox {
    position: absolute;
    right: 20px;
    top: 25%;
    max-width: 200px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

.heading-checkbox .checkbox-descr, .heading-checkbox .workingtime-text {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.panel-heading {
    position: relative;
    overflow: hidden;
}

.title-date {
    display: inline-block;
    margin-left: 20px;
}

.object-name {
    width: calc(100% - 150px);
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
}
.status{
    padding: 3.5px 6px;
    font-size: 12px;
    margin-left: 3px;
}
.official{
    color: #3186ff;
    font-weight: 900;
  }
  .temp{
    color: #9e9e9e;
    font-weight: 900;
  }
  .warning-timesheet{
    margin-left: 10px;
  }

  .header{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .show-than-default{
    margin-left: 15px;
    margin-top: 16px;
  }
  .header .title{
    margin-top: 16px;
  }
  .header .gr-filter{
    display: flex;
    width: 50%;
  }
  .header .item{
    width: 17%;
    padding: 0;
  }
  ::ng-deep  .item .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0;
    padding: 0;
  }
  ::ng-deep .m-checkbox .mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin{
    margin-top: 6px;
  }

/* .object-name {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
} */

@media screen and (max-width: 445px) {
  :host ::ng-deep .body date-selector h2 {
    padding: 0 10px !important;
    font-size: 18px;
    margin-top: 15px;
  }

  :host ::ng-deep .body date-selector .mat-button-toggle-label-content {
    line-height: 40px;
    padding: 0 6px;
    width: 40px;
  }

  .workingtime-text, .checkbox-descr, .dateAt {
    font-size: 12px !important;
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 600px) {
  .header .item {
    width: 100%;
  }

  .header .title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  :host ::ng-deep .body date-selector mat-form-field {
    padding-top: 15px;
  }

  .object-name {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    white-space: normal;
    height: auto;
  }

  .table-timesheet {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .form-group {
    margin-bottom: 0;
  }

  .action-timesheet {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .status-timesheet{
    padding: 0;
  }

  .action-timesheet-overview {
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 30px;
  }

  .warning-timesheet{
    margin-left: 0;
  }

  .modal-header {
    display: flex;
  }

  .close {
    margin-left: auto;
  }

  .modal-dialog {
    transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%) !important;
  }

  .label-title {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 955px) {
  .header .search {
    width: 100%;
  }
}
