.mat-typography {
  width: 400px;
}

@media screen and (max-width: 600px) {
  .mat-typography {
    width: auto;
  }
  .mat-dialog-container {
    padding: 20px;
  }
  ::ng-deep .cdk-overlay-pane{
    max-width: 400px !important;
    width: 90vw !important;
  }
}
