.action-wrapper {
    display: none
}

.pd-20 {
    padding: 20px;
}

.full-view {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
}

@media screen and (max-width: 768px) {
    .action-wrapper {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        gap: 10px !important;
    }

    .full-view {
        display: none;
    }

    .mb-20 {
        margin-bottom: 20px;
    }
}



.card .header .header-dropdown {
    top: 15px;
}