.action-wrapper {
    display: none
}

.pd-20 {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .action-wrapper {
        display: flex;
        flex-flow: row-reverse;
    }

    .full-view {
        display: none;
    }

    .mb-20 {
        margin-bottom: 20px;
    }
}



.card .header .header-dropdown {
    top: 15px;
}