.color-label-status {
    background-color: #4caf50 !important;
}

.th-sort {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.row-table-retro {
    height: 56px;
}

.responsive {
    overflow-x: auto;
}

.p-20 {
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}