<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "Manage Employee for Branch Manager" | localize }}</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item (click)='refresh()' name="refreshBtn">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>

      <div class="body">
        <div class="group">
          <div class="search-filter-container">
            <div class="row filter-row">
              <div class="filter-item filter-search">
                <mat-form-field style="padding-bottom: 0;" class="w-100" appearance="outline">
                  <mat-label>Search by Email</mat-label>
                  <div style="display: flex; flex-direction: row; align-items: center; justify-items: center;">
                    <input style="flex-grow: 1;" matInput [(ngModel)]="keyword" name="keyword"
                      (keyup.enter)="searchOrFilter()">
                    <mat-icon class="custom-search-icon" style="height: 16px;" matSuffix *ngIf="keyword"
                      (click)="keyword=''; searchOrFilter()">clear</mat-icon>
                    <mat-icon class="custom-search-icon" style="height: 16px;" matSuffix>search</mat-icon>
                  </div>
                </mat-form-field>
              </div>

              <div class="filter-item">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>{{ "Position" | localize }}</mat-label>
                  <mat-select name="positionId" [(value)]="positionId" (selectionChange)="searchOrFilter()">
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Search" [formControl]="positionSearch"
                        noEntriesFoundLabel="No matching found">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option *ngFor="let position of listPosition" [value]='position.id'>
                      {{position.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="filter-item">
                <ng-container *ngIf="isShowSelectBranch()">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{ "Branch" | localize }}</mat-label>
                    <mat-select name="branchId" [(value)]="branchId" (selectionChange)="searchOrFilter()">
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" [formControl]="branchSearch"
                          noEntriesFoundLabel="No matching found">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let branch of listBranch" [value]='branch.id'>
                        {{branch.displayName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>

              <app-date-filter (dateSelected)="onDateSelected($event)" class="app-date-filter"></app-date-filter>
            </div>
          </div>
        </div>

        <div class="table-responsive" [busy]="isTableLoading">
          <table class="table customTable">
            <thead>
              <tr>
                <th class="text-center col-no">No</th>
                <th class="text-center col-users">Users</th>
                <th class="text-center col-position">Position</th>
                <th class="text-center col-level">
                  <div class="level_sort">
                    <span>Level</span>
                    <span (click)="toggleLevelSortOrder()">
                      <i class="pi pi-sort-amount-up text-primary p-l-5" role="button"
                        *ngIf="sortLevel === sortProjectUserNumber.UP_LEVEL"></i>
                      <i class="pi pi-sort-amount-down text-primary p-l-5" role="button"
                        *ngIf="sortLevel === sortProjectUserNumber.DOWN_LEVEL"></i>
                    </span>
                  </div>
                </th>


                <th class="text-center col-projects">
                  <div class="project_sort">
                    <span matTooltip="Percentage of logged working hours per project within the selected time range"
                      matTooltipPosition="above">Projects</span>
                    <span (click)="toggleSortOrder(false)">
                      <i class="pi pi-sort-amount-up text-primary p-l-5" role="button"
                        *ngIf="sortProject === sortProjectUserNumber.UP_PROJECT"></i>
                      <i class="pi pi-sort-amount-down text-primary p-l-5" role="button"
                        *ngIf="sortProject === sortProjectUserNumber.DOWN_PROJECT"></i>
                    </span>
                  </div>
                </th>
                <th class="text-center col-actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of (users | paginate :{
                id: 'Branch_Manager',
                itemsPerPage: pageSize,
                currentPage: pageNumber,
                totalItems: totalItems
               }), index as i">
                <!-- No -->
                <td class="text-center col-no">
                  {{ (pageNumber - 1) * pageSize + i + 1 }}
                </td>
                <!-- User -->
                <td class="col-users">
                  <div class="user_information">
                    <div>
                      <ng-container
                        *ngIf="user.avatarFullPath; then avatarTemplate; else defaultAvatarTemplate"></ng-container>
                      <ng-template #avatarTemplate>
                        <img style="width: 60px; height: 60px; border-radius: 50%;" [src]='user.avatarFullPath'
                          alt="avatar">
                      </ng-template>
                      <ng-template #defaultAvatarTemplate>
                        <img style="width: 60px; height: 60px; border-radius: 50%;" [src]="defaullUserImage(user.sex)"
                          alt="avatar">
                      </ng-template>
                    </div>
                    <div style="margin-left: 12px; flex: 1;">
                      <div class="user-header-action">
                        <div class="user_name">
                          <b>{{user.fullName}}</b>
                        </div>
                      </div>
                      <div class="user_branch">
                        <span class="label bg-red">{{user.branchDisplayName}}</span>
                        <!-- type -->
                        <span *ngIf="user.type != null" class="label" [ngClass]="getUserTypeCssClass(user.type)">
                          {{getLabel(user.type)}}
                        </span>
                        <!-- level -->
                        <span class="label"
                          [ngStyle]="userLevels[user.level]?.style">{{userLevels[user.level]?.name}}</span>
                      </div>
                      <div class="user_email">{{user.emailAddress}}</div>
                    </div>
                  </div>
                </td>
                <!-- position -->
                <td class="text-center col-position">{{user.positionName}}</td>
                <!-- level -->
                <td class="text-center col-level">
                  <span class="label" [ngStyle]="userLevels[user.level]?.style">{{userLevels[user.level]?.name}}</span>
                </td>

                <td class="col-projects" style="vertical-align: top; padding: 12px;">
                  <div class="projects-wrapper">
                    <ng-container *ngIf="user.isExpandedProjects">
                      <div class="project-item" *ngFor="let project of user.projectUsers">
                        <div class="project-title" [matTooltip]="project.projectName">{{project.projectName}}</div>
                        <div class="project-pms">
                          <ng-container *ngIf="project.pms && project.pms.length > 0">
                            <i class="pi pi-user"></i>
                            <ng-container *ngIf="project.isExpandedPms">
                              <span class="label bg-blue" *ngFor="let pms of project.pms">{{pms}}</span>
                            </ng-container>
                            <ng-container *ngIf="!project.isExpandedPms">
                              <span class="label bg-blue" *ngFor="let pms of project.pms | slice:0:2">{{pms}}</span>
                            </ng-container>
                            <button *ngIf="project.pms.length > 2" class="btn-expand-pms" 
                                    (click)="project.isExpandedPms = !project.isExpandedPms; $event.stopPropagation()">
                              {{ project.isExpandedPms ? 'Collapse' : '+ ' + (project.pms.length - 2) + ' more' }}
                            </button>
                          </ng-container>
                        </div>
                        <div class="project-time">
                          <i class="pi pi-clock"></i>
                          <span class="label bg-green">{{project.workingTimePercent}}%</span>
                        </div>
                      </div>
                    </ng-container>
                    
                    <ng-container *ngIf="!user.isExpandedProjects">
                      <div class="project-item" *ngFor="let project of user.projectUsers | slice:0:2">
                        <div class="project-title" [matTooltip]="project.projectName">{{project.projectName}}</div>
                        <div class="project-pms">
                          <ng-container *ngIf="project.pms && project.pms.length > 0">
                            <i class="pi pi-user"></i>
                            <ng-container *ngIf="project.isExpandedPms">
                              <span class="label bg-blue" *ngFor="let pms of project.pms">{{pms}}</span>
                            </ng-container>
                            <ng-container *ngIf="!project.isExpandedPms">
                              <span class="label bg-blue" *ngFor="let pms of project.pms | slice:0:2">{{pms}}</span>
                            </ng-container>
                            <button *ngIf="project.pms.length > 2" class="btn-expand-pms" 
                                    (click)="project.isExpandedPms = !project.isExpandedPms; $event.stopPropagation()">
                              {{ project.isExpandedPms ? 'Collapse' : '+ ' + (project.pms.length - 2) + ' more' }}
                            </button>
                          </ng-container>
                        </div>
                        <div class="project-time">
                          <i class="pi pi-clock"></i>
                          <span class="label bg-green">{{project.workingTimePercent}}%</span>
                        </div>
                      </div>
                    </ng-container>

                    <div *ngIf="user.projectUsers?.length > 2" class="expand-btn-wrapper">
                      <button class="btn-expand-projects" 
                              (click)="user.isExpandedProjects = !user.isExpandedProjects; $event.stopPropagation()">
                        {{ user.isExpandedProjects ? 'Collapse' : '+ ' + (user.projectUsers.length - 2) + ' more' }}
                      </button>
                    </div>
                    
                    <div *ngIf="!user.projectUsers || user.projectUsers.length === 0" class="no-projects">
                      N/A
                    </div>
                  </div>
                </td>
                <td class="text-center col-actions">
                  <div class="action-container">
                    <button class="btn-action-view" 
                            (click)="showProjectDetailDialog(user); $event.stopPropagation()" 
                            matTooltip="View working project details" 
                            matTooltipPosition="above">
                      <i class="pi pi-eye"></i> Details
                    </button>
                    <button class="btn-project-history" 
                            (click)="viewProjectHistory(user); $event.stopPropagation()" 
                            matTooltip="View project effort history" 
                            matTooltipPosition="below">
                      <i class="pi pi-history"></i> History
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="abp-pagination-controls-wrapper">
          <abp-pagination-controls #pagination [totalNumber]="totalItems" id="Branch_Manager"
            (selectionChange)="getPageSize($event)" (pageChange)="getDataPage($event)"></abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>