<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "Manage Employee for Branch Manager" | localize }}</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item (click)='refresh()' name="refreshBtn">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>

      <div class="body">
        <div class="group">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-5 mb-0">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Search by Email</mat-label>
                  <mat-icon matSuffix>search</mat-icon>
                  <input matInput="matInput" [(ngModel)]="keyword" name="keyword" (keyup.enter)="searchOrFilter()">
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-0">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label> {{ "Position" | localize }}</mat-label>
                  <mat-select name="positionId" [(value)]="positionId" (selectionChange)="searchOrFilter()">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" [formControl]="positionSearch"
                          noEntriesFoundLabel="No matching found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option *ngFor="let position of listPosition" [value]='position.id'>
                      {{position.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-0">
                <ng-container *ngIf="isShowSelectBranch()">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label> {{ "Branch" | localize }}</mat-label>
                    <mat-select name="branchId" [(value)]="branchId" (selectionChange)="searchOrFilter()">
                      <mat-option>
                          <ngx-mat-select-search placeholderLabel="Search" [formControl]="branchSearch"
                            noEntriesFoundLabel="No matching found">
                          </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let branch of listBranch" [value]='branch.id'>
                        {{branch.displayName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>

              </div>
            </div>
            <app-date-filter (dateSelected)="onDateSelected($event)"></app-date-filter>
          </div>
          <div class="col-lg-2">
            <div class="row row-btn">
              <button class="body-btn" mat-raised-button name="clearSearchAndFilter" (click)="clearSearchAndFilter()">Clear</button>
              <button class="body-btn" mat-raised-button color="primary" [disabled]="!keyword" (click)="searchOrFilter()">Search</button>
            </div>
          </div>
        </div>
        <div class="table-responsive" [busy]="isTableLoading">
          <table class="table customTable">
            <thead>
              <tr>
                <th class="text-center col-lg-1">No</th>
                <th class="text-center col-lg-3">Users</th>
                <th class="text-center col-lg-1">Position</th>
                <th class="text-center col-lg-1">
                  <div class="level_sort">
                       <span>Level</span>
                       <span (click)="toggleSortOrder('Level')">
                           <i
                               class="pi pi-sort-amount-up text-primary p-l-5"
                               role="button"
                               *ngIf="LevelSortDirection === sortDirectionEnum.Ascending"
                           ></i>
                           <i
                               class="pi pi-sort-amount-down text-primary p-l-5"
                               role="button"
                               *ngIf="LevelSortDirection === sortDirectionEnum.Descending"
                           ></i>
                       </span>
                  </div>
                </th>
                <th class="text-center col-lg-1" matTooltip="Number of Project" matTooltipPosition="above">
                   <div class="project_sort">
                       <span>NoP</span>
                       <span (click)="toggleSortOrder('ProjectCount')">
                           <i
                              class="pi pi-sort-amount-up text-primary p-l-5"
                              role="button"
                              *ngIf="ProjectCountSortDirection === sortDirectionEnum.Ascending"
                           ></i>
                           <i
                              class="pi pi-sort-amount-down text-primary p-l-5"
                              role="button"
                              *ngIf="ProjectCountSortDirection === sortDirectionEnum.Descending"
                           ></i>
                       </span>
                   </div>
                </th>
                <th class="text-center col-lg-1" matTooltip="Work At Office" matTooltipPosition="above">
                  <div class="project_sort">
                    <span>WAO</span>
                    <span (click)="toggleSortOrder('WOAPercent')">
                        <i
                           class="pi pi-sort-amount-up text-primary p-l-5"
                           role="button"
                           *ngIf="WOAPercentSortDirection === sortDirectionEnum.Ascending"
                        ></i>
                        <i
                           class="pi pi-sort-amount-down text-primary p-l-5"
                           role="button"
                           *ngIf="WOAPercentSortDirection === sortDirectionEnum.Descending"
                        ></i>
                    </span>
                  </div>
                </th>
                <th class="text-center col-lg-1" matTooltip="Work From Home" matTooltipPosition="above">
                  <div class="project_sort">
                    <span>WFH</span>
                    <span (click)="toggleSortOrder('WFHPercent')">
                        <i
                           class="pi pi-sort-amount-up text-primary p-l-5"
                           role="button"
                           *ngIf="WFHPercentSortDirection === sortDirectionEnum.Ascending"
                        ></i>
                        <i
                           class="pi pi-sort-amount-down text-primary p-l-5"
                           role="button"
                           *ngIf="WFHPercentSortDirection === sortDirectionEnum.Descending"
                        ></i>
                    </span>
                  </div>
                </th>
                <th class="text-center col-lg-4">
                    <div class="project_sort">
                        <span>Projects</span>
                        <!-- <span (click)="toggleSortOrder('ProjectUsers.WorkingTimePercent')">
                            <i
                               class="pi pi-sort-amount-up text-primary p-l-5"
                               role="button"
                               *ngIf="WorkingTimePercentSortDirection === sortDirectionEnum.Ascending"></i>
                            <i
                               class="pi pi-sort-amount-down text-primary p-l-5" role="button"
                               *ngIf="WorkingTimePercentSortDirection === sortDirectionEnum.Descending"></i>
                        </span> -->
                    </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of (users | paginate :{
                id: 'Branch_Manager',
                itemsPerPage: pageSize,
                currentPage: pageNumber,
                totalItems: totalItems
               }), index as i">
                <!-- No -->
                <td class="text-center" style="width: 20px;">
                  {{ (pageNumber - 1) * pageSize + i + 1 }}
                </td>
                <!-- User -->
                <td class="col-lg-3">
                  <div class="user_information">
                    <div (click)="showProjectDetailDialog(user)" style="cursor: pointer;">
                      <ng-container *ngIf="user.avatarFullPath; then avatarTemplate; else defaultAvatarTemplate"></ng-container>
                      <ng-template #avatarTemplate>
                        <img style="width: 60px; height: 60px; border-radius: 50%;"
                          [src]='user.avatarFullPath' alt="avatar">
                      </ng-template>
                      <ng-template #defaultAvatarTemplate>
                        <img style="width: 60px; height: 60px; border-radius: 50%;" [src]="defaullUserImage(user.sex)" alt="avatar">
                      </ng-template>
                    </div>
                    <div style="margin-left: 12px;">
                      <div class="user_name" (click)="showProjectDetailDialog(user)" style="cursor: pointer; width: fit-content;">
                        <b>{{user.fullName}}</b>
                      </div>
                      <div class="user_branch">
                        <span class="label bg-red">{{user.branchDisplayName}}</span>
                        <!-- type -->
                        <span *ngIf="user.type != null" class="label" [ngClass]="getUserTypeCssClass(user.type)">
                          {{userTypes[user.type].label}}
                        </span>
                        <!-- level -->
                        <span class="label" [ngStyle]="userLevels[user.level]?.style">{{userLevels[user.level]?.name}}</span>
                      </div>
                      <div class="user_email">{{user.emailAddress}}</div>
                    </div>
                  </div>
                </td>
                <!-- position -->
                <td class="text-center col-lg-1">{{user.positionName}}</td>
                <!-- level -->
                <td class="text-center col-lg-1">
                  <span class="label" [ngStyle]="userLevels[user.level]?.style">{{userLevels[user.level]?.name}}</span>
                </td>
                <td class="text-center col-lg-1">{{user.projectCount}}</td>
                <td class="text-center col-lg-1">{{user.woaPercent == 100 ? user.woaPercent : user.woaPercent.toFixed(2)}}%</td>
                <td class="text-center col-lg-1">{{user.wfhPercent == 100 ? user.wfhPercent : user.wfhPercent.toFixed(2)}}%</td>
                <td class="col-lg-5" style="padding: 0;" (click)="togglePrivateNote(user)">
                  <div class="project_list mb-0 custom-scrollbar" [ngClass]="user.hideProjectName === false ? 'preReview' : 'review'"
                  title="Cuộn chuột hoặc Click để mở rộng nội dung">
                    <div class="project_item" *ngFor="let project of user.projectUsers">
                      <b>{{project.projectName}}</b>
                      <span class="label bg-blue" *ngFor="let pms of project.pms">
                        {{pms}}
                      </span>
                      <span class="label bg-green">
                        {{project.workingTimePercent}}%
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="abp-pagination-controls-wrapper">
          <abp-pagination-controls [totalNumber]="totalItems" id="Branch_Manager"
          (selectionChange)="getPageSize($event)" (pageChange)="getDataPage($event)"></abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
