<div class="user-modal">
  <div
    class="user-modal__header"
    mat-dialog-title
  >
    <div>
      <div class="user-modal__title">
        {{ l("Upload Avatar") }}
      </div>
      <div class="user-modal__subtitle">
        Select and crop your profile picture.
      </div>
    </div>
  </div>

  <mat-dialog-content class="user-modal__body">
    <div class="user-modal__section">
      <div class="user-modal__section-title">Image selection</div>
      
      <div class="user-modal__upload-area">
        <file-upload
          [page]="'profile'"
          name="selectImageBtn"
          [isLoading]="isLoading"
          [fileType]="'image'"
          (click)="$event.stopPropagation();"
          (change)="fileChangeEvent($event)"
        >
        </file-upload>
      </div>
    </div>

    <div class="user-modal__section" *ngIf="imageChangedEvent">
      <div class="user-modal__section-title">Crop image</div>
      
      <div class="user-modal__cropper-container">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="256"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          class="user-modal__cropper"
        ></image-cropper>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions
    align="end"
    class="user-modal__footer"
  >
    <button
      class="user-modal__btn user-modal__btn--ghost"
      mat-raised-button
      mat-dialog-close
      name="cancelBtn"
      (click)="$event.stopPropagation();"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      name="saveBtn"
      class="user-modal__btn user-modal__btn--primary"
      [disabled]="croppedImage == null"
      [mat-dialog-close]="file"
      (click)="$event.stopPropagation();"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
