<div class="card main-content" *ngIf="permission.isGranted(AbsenceReport_View)">
  <div style="display: flex;justify-content:  space-between;" class="header">
    <h4 style="white-space: nowrap; display: inline;font-weight: normal;">Absence Report</h4>
  </div>

  <div class="filter-row">


    <mat-form-field appearance="outline" class="filter-item">
      <mat-icon style="color: #9E9E9E" matPrefix>search</mat-icon>
      <mat-label>Search by email</mat-label>
      <input name="searchText" matInput type="text" [(ngModel)]="absenceReportRequestDto.email"
        (keyup.enter)="onFilter()" placeholder="User email">
    </mat-form-field>


    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Branch</mat-label>
      <mat-select name="branchId" [(value)]="absenceReportRequestDto.branchId">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Search" [formControl]="branchSearch"
            noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let branch of listBranch" [value]='branch.id'>
          {{branch.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Position</mat-label>
      <mat-select name="positionId" [(value)]="absenceReportRequestDto.positionId">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Search" [formControl]="positionSearch"
            noEntriesFoundLabel="No matching found"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let position of listPosition" [value]='position.id'>
          {{position.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Request Type</mat-label>
      <mat-select [(value)]="absenceReportRequestDto.requestType">
        <mat-option *ngFor="let type of requestTypes" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-container">
    <div class="button-row-left">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle name="previousBtn" matTooltip="Previous" matTooltipPosition="above" (click)="back()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle matTooltip="Today" matTooltipPosition="above">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="displayDay" (dateInput)="updateTimeRange()"
            placeholder="Pick a date" readonly >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-button-toggle>
        

        <mat-button-toggle name="nextBtn" matTooltip="Next" matTooltipPosition="above" (click)="next()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup" value="day">
        <mat-button-toggle name="dayBtnToggle" value="day" (click)="viewBy(APP_CONSTANT.TypeViewBranchManager.Day)">Day</mat-button-toggle>
        <mat-button-toggle name="weekBtnToggle" value="week" (click)="viewBy(APP_CONSTANT.TypeViewBranchManager.Week)">Week</mat-button-toggle>
        <mat-button-toggle name="monthBtnToggle" value="month" (click)="viewBy(APP_CONSTANT.TypeViewBranchManager.Month)">Month</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="date-range" *ngIf="selectedTimeRange === APP_CONSTANT.TypeViewBranchManager.Week || selectedTimeRange === APP_CONSTANT.TypeViewBranchManager.Month">
        <div *ngIf="selectedTimeRange === APP_CONSTANT.TypeViewBranchManager.Week">
          {{ absenceReportRequestDto.startDate | date: 'MMM d, yyyy' }} - {{ absenceReportRequestDto.endDate | date: 'MMM d, yyyy' }}
        </div>
        <div *ngIf="selectedTimeRange === APP_CONSTANT.TypeViewBranchManager.Month">
          {{ absenceReportRequestDto.startDate | date: 'MMM d, yyyy' }} - {{ absenceReportRequestDto.endDate | date: 'MMM d, yyyy' }}
        </div>
      
      </div>
      <div *ngIf="selectedTimeRange" (ngModelChange)="updateTimeRange()"></div>
    </div>

    <div class="action-buttons-rows">
      <button name="clearBtn" mat-stroked-button class="action-button clear-button" (click)="clearFilters()">
        Clear
      </button>
      <button name="filterBtn" mat-flat-button color="primary" class="action-button filter-button" (click)="onFilter()">
        Filter
      </button>
    </div>
  </div>
  <div style="overflow-x: auto;">
    <table mat-table [dataSource]="absenceReportResult" class="mat-elevation-z0" [busy]="isLoading">


      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let user; let i = index">
          {{ i + 1 + (absenceReportRequestDto.skipCount || 0) }}
        </td>
      </ng-container>


      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let user">
          <div class="user-container">
            <img *ngIf="user.avatarFullPath; else defaultAvatar" [src]="user.avatarFullPath" class="user-avatar">
            <ng-template #defaultAvatar>
              <img src="assets/images/undefine.png" class="user-avatar">
            </ng-template>
            <div class="user-info">
              <strong>{{ user.userSurname + ' ' + user.userFirstname }}</strong>
              <div class="badges">
                  <span *ngIf="user.branchDisplayName" class="badge location" [ngStyle]="{'background-color': user.branchColor}">
                  {{ user.branchDisplayName }}
                  </span>
                  <span *ngIf="user.userTypeName" class="badge type" [ngStyle]="{'background-color': user.userType === 1 ? 'green' : user.userType === 2 ? 'blue' : 'red'}">
                  {{ user.userTypeName }}
                  </span>
                  <span *ngIf="user.userLevelName" class="badge level"  [ngStyle]="userLevels[user.userLevel].style" >{{ user.userLevelName }}</span>
              </div>
              <div class="email">{{ user.userEmail }}</div>
            </div>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let user"> {{ user.position }} </td>
      </ng-container>


      <ng-container matColumnDef="totalTime">
        <th mat-header-cell *matHeaderCellDef> Total time </th>
        <td mat-cell *matCellDef="let user"> {{ user.totalTime }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onMatPaginatorChange($event)">
  </mat-paginator>
</div>