<form *ngIf="active" #reviewForm="ngForm" style="position: relative;" autocomplete="off" id="frm_create_group" novalidate>
    <h1 style="cursor: grab;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle mat-dialog-title>{{"PM Review" | localize}} : <b>{{review.internName}}</b></h1>
    <mat-icon (click)="close(0)" style="position: absolute; top: 0; right: 0;
    cursor: pointer;">close</mat-icon>
    <hr>
    <mat-dialog-content class="mat-typography">
        <div class="format-col form-group row required">
            <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label" for="connectionString">
        {{ "Reviewer:" | localize }}
      </label>
            <mat-form-field class="edit-form row-item-rest col-xl-9 col-lg-9 col-md-9
        col-xs-9" appearance="outline">
                <mat-label> {{ "Reviewer:" | localize }}</mat-label>
                <mat-select [(ngModel)]="review.reviewerId" [disabled]="disableSelect" name="Reviewer" required>
                    <mat-option *ngFor="let reviewer of listReviewer" [value]="reviewer.pmId">
                        {{ reviewer.pmFullName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="format-col form-group row required">
            <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label" for="connectionString">
        {{ "Current Level:" | localize }}
      </label>
            <mat-form-field class="edit-form row-item-rest col-xl-9 col-lg-9 col-md-9
        col-xs-9" appearance="outline">
                <mat-label> {{ "Current Level:" | localize }}</mat-label>
                <mat-select [(value)]="review.currentLevel" [disabled]="disableSelect" name="CurrentLevel" required>
                    <mat-option *ngFor="let level of listLevel" [value]="APP_CONSTANT.LEVEL[level]">{{level}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="format-col form-group row required" style="margin-top: 10px;">
            <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label-note" for="connectionString">
        {{ "Rating:" | localize }}
      </label>
            <div style="display: flex; align-items: center;" class="col-xl-9">
                <ngx-stars style="font-size: 12px; cursor: pointer;" [color]="'gold'" [wholeStars]="true" [readonly]="false" [size]="2" [maxStars]="5" [initialStars]="data.rateStar" (ratingOutput)="onRatingSet($event)"></ngx-stars>
            </div>
            <!-- <span>
        <i class="far fa-question-circle ml-3 fa-lg "  style="margin-left: 14px; cursor: pointer;" [matTooltip]="ratingTooltip"  matTooltipClass="info"></i>
      </span> -->

        </div>
        <div class="format-col form-group row required" style="margin-top: 15px;">
            <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label-note" for="connectionString">
        {{ "Lên chính thức:" | localize }}
      </label>
        <mat-radio-group class="edit-form row-item-rest col-xl-9 col-lg-9 col-md-9
            col-xs-9 ml-3" aria-label="Select an option" name="isUpOfficial" style="margin-top: -2px; height: 30px;">
                <mat-radio-button [checked]="review.isUpOfficial" (change)="checkUpOffical(review)" value="Yes" class="mr-5">Yes</mat-radio-button>
                <mat-radio-button [checked]="!review.isUpOfficial" (change)="checkUpOffical(review)" style="margin-left: 30px;" value="No">No</mat-radio-button>
        </mat-radio-group>
        </div>
        <div class="format-col form-group row required newLevel" *ngIf="!review.isUpOfficial">
            <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label" for="connectionString">
        {{ "New Level:" | localize }}
      </label>
            <mat-form-field class="edit-form row-item-rest col-xl-9 col-lg-9 col-md-9
        col-xs-9" appearance="outline">
                <mat-label> {{ "New Level:" | localize }}</mat-label>
                <mat-select [(value)]="review.newLevel" name="NewLevel" (selectionChange)="checkNewLevel(review)">
                    <mat-option *ngFor="let level of listLevelFiltered" [value]='level.value'>{{level.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="format-col form-group row required" *ngIf="!review.isUpOfficial">
            <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label-note" for="connectionString">
        {{ "Note:" | localize }}
      </label>
            <mat-form-field class="example-full-width edit-form row-item-rest col-xl-9
        col-lg-9 col-md-9 col-xs-9" appearance="outline">
                <mat-label>Note</mat-label>
                <textarea matInput rows="4" [(ngModel)]="review.note" name="content"></textarea>
            </mat-form-field>
        </div>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn btn-default" mat-raised-button mat-dialog-close [disabled]="saving">{{l('Cancel')}}</button>
        <button mat-raised-button color="primary" (click)="saveReviewDetail()" cdkFocusInitial [disabled]="saving">{{l('Submit')}}</button>
    </mat-dialog-actions>
</form>
