<form *ngIf="active" #reviewForm="ngForm" style="position: relative;" autocomplete="off" id="frm_create_group" novalidate>
  <h1 style="cursor: grab;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle mat-dialog-title>{{"HR chốt lương" | localize}} : <b>{{review.internName}}</b></h1>
  <mat-icon (click)="close(0)" style="position: absolute; top: 0; right: 0;
  cursor: pointer;">close</mat-icon>
  <hr>
  <mat-dialog-content class="mat-typography">
      
      <div class="format-col form-group row required newLevel">
          <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label" for="connectionString">
      {{ "New Level:" | localize }}
    </label>
          <mat-form-field class="edit-form row-item-rest col-xl-9 col-lg-9 col-md-9
      col-xs-9" appearance="outline">
              <mat-label> {{ "New Level:" | localize }}</mat-label>
              <mat-select [(value)]="review.newLevel" (selectionChange)="checkNewLevel(review)" name="NewLevel">
                  <mat-option *ngFor="let level of listLevel" [value]="APP_CONSTANT.LEVEL[level]">{{level}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div *ngIf="review.newLevel >= 4" class="format-col form-group row required">
          <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label" for="connectionString">
      {{ "Type:" | localize }}
    </label>
          <mat-form-field class="edit-form row-item-rest col-xl-9 col-lg-9 col-md-9
      col-xs-9" appearance="outline">
              <mat-label> {{ "Type:" | localize }}</mat-label>
              <mat-select [(value)]="review.type" name="Type">
                  <mat-option *ngFor="let type of listType" [value]="APP_CONSTANT.TYPE[type]">{{type}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div *ngIf="review.newLevel >= 4" class="format-col form-group row required">
          <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label">
      {{ "Select:" | localize }}
    </label>
          <div class="edit-form row-item-rest select-form col-xl-9 col-lg-9 col-md-9 col-xs-9">
              <mat-checkbox class="col-xl-6 col-lg-6 col-md-6 col-xs-6" name="IsFullSalary"  [checked]="review.isFullSalary" (change)="changeFullSalary($event.value)">
                  {{ "Full lương:" | localize }}
              </mat-checkbox>

              <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6">
                  <mat-form-field class="edit-form row-item-rest " appearance="outline">
                      <mat-label> {{"Sub Level" | localize}}</mat-label>
                      <mat-select [(ngModel)]="review.subLevel" name="SubLevel" (selectionChange)="changeSubLevel($event.value)">
                          <mat-optgroup *ngFor="let level of listSubLevel" [label]="level.name">
                              <mat-option *ngFor="let subLevel of level.subLevels" [value]="subLevel.id" >
                                  <span>{{subLevel.name}}</span>
                              </mat-option>
                          </mat-optgroup>
                      </mat-select>
                  </mat-form-field>
              </div>

          </div>
      </div>
      <div *ngIf="review.newLevel >= 4" class="format-col form-group row required">
          <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label">
              {{ "Salary:" | localize }}
          </label>
          <mat-form-field class="edit-form row-item-rest select-form col-xl-9 col-lg-9 col-md-9 col-xs-9" appearance="outline">
              <mat-label> {{"Salary" | localize}}</mat-label>
              <input currencyMask [options]="{prefix: '', align: 'left', thousands: '.', precision: '0'}"  matInput="matInput" [(ngModel)]="review.salary" name="salary" />
          </mat-form-field>
      </div>
      <div class="format-col form-group row required">
          <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col-form-label-note" for="connectionString">
      {{ "Note:" | localize }}
    </label>
          <mat-form-field class="example-full-width edit-form row-item-rest col-xl-9
      col-lg-9 col-md-9 col-xs-9" appearance="outline">
              <mat-label>Note</mat-label>
              <textarea matInput rows="4" [(ngModel)]="review.note" name="content"></textarea>
          </mat-form-field>
      </div>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button class="btn btn-default" mat-raised-button mat-dialog-close [disabled]="saving">{{l('Cancel')}}</button>
      <button mat-raised-button color="primary" (click)="saveConfirmDetail()" cdkFocusInitial>{{l('Submit')}}</button>
  </mat-dialog-actions>
</form>
