  <h3 mat-dialog-title class="text-center margin-0 ">{{ data.projectItem.projectName }}</h3>
<div [busy]="isLoading">
      <div mat-dialog-content  >
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th>STT</th>
                <th>
                    <div class="d-flex align-center">
                        <span>Member</span>
                        <div  (click)="toggleSortOrder(true)">
                            <i class="pi pi-sort-amount-up text-primary p-l-5" role="button"
                               *ngIf="currentSortMember === sortMemberOrEffort.UP_MEMBER"></i>
                            <i class="pi pi-sort-amount-down text-primary p-l-5" role="button"
                               *ngIf="currentSortMember === sortMemberOrEffort.DOWN_MEMBER"></i>
                        </div>
                    </div>
                </th>
                <th>Email</th>
                <th>
                    <div class="d-flex">
                        <span>Effort</span>
                        <div (click)="toggleSortOrder(false)">
                            <i class="pi pi-sort-amount-up text-primary p-l-5" role="button"
                               *ngIf="currentSortEffort === sortMemberOrEffort.DOWN_EFFORT"></i>
                            <i class="pi pi-sort-amount-down text-primary p-l-5" role="button"
                               *ngIf="currentSortEffort === sortMemberOrEffort.UP_EFFORT"></i>
                        </div>
                    </div>
                </th>
                <th>Total effort</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let m of projectItem | projectTargetUser:currentSortMember:currentSortEffort:sortType;let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ m.fullName }}</td>
                <td>{{ m.emailAddress }}</td>
                <td>{{ m.workingTime }}</td>
                <td>{{convertMinuteToHour( m.totalWorkingTime) }}</td>
                 <td>
                    <mat-form-field>
                        <mat-select
                            [value]="m.userType"
                            [disabled]="m.userType === APP_CONSTANT.EnumUserType.PM"
                            (selectionChange)="onProjectItemChange($event.value, i)">
                            <mat-option *ngFor="let item of APP_CONFIG.EnumValueViewTableType" [value]="item.value">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                 </td>
            </tr>
            </tbody>
        </table>
    <span class="d-block text-right total_item">Total Item: {{totalItems}}</span>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button (click)="onSaveClick()" color="primary" [disabled]="isShow">Save</button>
</div>
</div>

