.p-b-24 {
    padding-bottom: 22px;
}

.table-responsive {
    overflow: hidden;
}

.height {
    height: 450px;
    overflow-y: auto;
}

th div.d-flex {
    justify-content: space-between;
}

.total_item {
    color: #555;
    padding-right: 10px;
}

@media screen and (max-width: 767px){
    .table-responsive {
        border: none;
        overflow: auto;
    }
}
.customTable thead tr th{
    border: 0.2px solid rgba(204, 204, 204, 0.35);
    vertical-align: inherit
}
.customTable tbody tr td{
    border: 0.2px solid rgba(204, 204, 204, 0.35);
}

.customTable tbody tr:nth-child(odd){
    background: #EEEEEE;
}
.p-24{
    margin-bottom: 6px;
 }

