.participatingProject tbody td .nameProject{
    margin-bottom: unset;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detailParticipatingProject .row div{
    padding: 0 24px 10px;
}

.mat-button-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .detailParticipatingProject .row div{
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }

    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .detail-participating-projects {
        padding: 0px 15px;
    }

    .mat-button-desktop {
        display: none;
    }

    .mat-button-mobile {
        display: inline-flex;
        height: fit-content;
    }

    .select-week-container {
        display: flex;
        align-items: baseline;
    }

    .select-week-container .select-week {
        max-width: 55%;
        margin-left: auto;
    }

    .table-responsive {
        overflow-y: auto;
    }

    .title-date {
        margin-left: 0 !important;
    }

    :host ::ng-deep .mat-button-mobile .mat-button-toggle-label-content {
        line-height: 43px;
    }

    .table-responsive {
        height: 300px !important;
    }
}