
<form *ngIf="active" #createForm="ngForm" autocomplete="off" id="frm_create_group" novalidate>
 <div class="create-edit-customer-tilte">
  <h2 style="cursor: grab;" cdkDrag cdkDragRootElement=".cdk-overlay-pane"  mat-dialog-title>{{title}} {{customer.id > 0 ? customer.name : ''}}</h2>
 </div>
  <div class="mat-typography" class="create-edit-customer">
    <div class="example-container">
      <mat-form-field >
        <input matInput name="name" placeholder="{{l('Name')}}" [(ngModel)]="customer.name" required maxlength="255">
      </mat-form-field>
      <mat-form-field >
        <input matInput name="code" placeholder="{{l('Code')}}" [(ngModel)]="customer.code" required maxlength="255">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput name="address" placeholder="{{l('Address')}}" [(ngModel)]="customer.address"></textarea>
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button name="cancelBtn" class="btn btn-default" mat-raised-button type="button" (click)="close(0)">
      {{l('Cancel')}}
    </button>
    <button class="save-btn" name="saveBtn" mat-raised-button color="primary" [disabled]="!createForm.form.valid || isSaving" type="submit" flex="15"
      (click)="save()">
      {{l('Save')}}
    </button>
  </mat-dialog-actions>
</form>
