<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "Background Job" | localize }}</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item (click)="refresh()">
                <mat-icon>refresh</mat-icon>
                <span>{{ "Refresh" | localize }}</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <div class="body table-responsive">
        <div class="row clearfix">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <mat-form-field appearance="outline">
              <mat-label>Search by job type, job agrs</mat-label>
              <input matInput [(ngModel)]="searchText" placeholder="{{l('Search by job type, job agrs')}}" name="search"
                (keyup.enter)="searchOrFilter()" type="text" maxlength="128">
              <i class="icon-32 material-icons" matPrefix>search</i>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left">
            <mat-form-field appearance="outline">
              <mat-label>Search by id</mat-label>
              <input matInput [(ngModel)]="searchById" placeholder="{{l('Search by id')}}" name="searchById"
                (keyup.enter)="onSearchById()" type="text" maxlength="128">
              <i class="icon-32 material-icons" matPrefix>search</i>
            </mat-form-field>
          </div>
        </div>
        <table class="table table-hover table-bordered table-striped" [busy]="isTableLoading">
          <thead class="bg-light">
            <tr>
              <th class="stt text-center">#</th>
              <th class="job-type">Job type</th>
              <th>Job agrs</th>
              <th style="width: 80px">Try count</th>
              <th (click)="onSortChange('lastTryTime')">
                Last try time
                <sortable-header [name]="'lastTryTime'" [sortProperty]="sortProperty"
                [sortDirection]="sortDirection"></sortable-header>
              </th>
              <th (click)="onSortChange('nextTryTime')">
                Next try time
                <sortable-header [name]="'nextTryTime'" [sortProperty]="sortProperty"
                [sortDirection]="sortDirection"></sortable-header>
              </th>
              <th style="width: 110px">Is Abandoned</th>
              <th>Priority</th>
              <th>Description</th>
              <th (click)="onSortChange('creationTime')">
                Creation Time
                <sortable-header [name]="'creationTime'" [sortProperty]="sortProperty"
                [sortDirection]="sortDirection"></sortable-header>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bg of
            listBackgroundJobs
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      };index as i">
              <td class="text-center">
                <p>{{(pageNumber-1)*pageSize+i+1}}</p>
                <b>#{{bg.id}}</b>
              </td>
              <td class="job-type">
                <div>{{bg.subJobType}}</div>
              </td>
              <td class="job-agrs">
                <textarea rows="4" cols="20" disabled="disabled" class="agrs" data-placement="right"
                  title="Cuộn chuột để xem nội dung" disabled="disabled" name="jobAgrs"
                  [(ngModel)]="bg.jobAgrs"></textarea>
              </td>
              <td class="text-center align-middle">{{bg.tryCount}}</td>
              <td class="text-center col-date align-middle">{{bg.lastTryTime | date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="text-center col-date align-middle">{{bg.nextTryTime | date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="text-center align-middle">
                <span [ngClass]="bg.isAbandoned ? 'text-danger text-bold': ''">
                    {{bg.isAbandoned}}
                </span>
        </td>
              <td class="text-center align-middle">{{bg.priority}}</td>
              <td class="col-description">
                <div>{{bg.description}}</div>
              </td>
              <td class="text-center align-middle">{{bg.creationTime| date:"dd/MM/yyyy HH:mm"}}</td>
              <td class="align-middle text-center">
                <button class="btn btn-danger mt-1 mx-1" *ngIf="isShowDeleteBtn()" (click)="delete(bg.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="abp-pagination-controls-wrapper" >
          <abp-pagination-controls [totalNumber]="totalItems" (pageChange)="getDataPage($event)" id="server">
          </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
