<app-manage-employee [listPosition]="position" [listPositionFilter]="positionFilter" [listBranch]="branch" [listBranchFilter]="branchFilter"></app-manage-employee>

<app-project-management [listBranch]="branch" [listBranchFilter]="branchFilter"></app-project-management>

<app-daily-employee-report [listBranch] = "branch" [listBranchFilter] = "branchFilter"></app-daily-employee-report>

<app-daily-project-report [listBranch]="branch" [listBranchFilter]="branchFilter"></app-daily-project-report>

<app-anomalies-report [listBranch]="branch" [listBranchFilter]="branchFilter"></app-anomalies-report>