.mat-dialog-actions {
    margin-bottom: -20px;
}
.create-edit-task-tilte{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.create-edit-task-tilte h1{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
::ng-deep .save-btn .mat-button-wrapper{
    color: white !important;
}
@media screen and (max-width: 600px) { 
    .create-edit-task {
        min-width: unset;
        width: 100%;
    }
}