.mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
  .mat-form-field-flex {
    background: white;
  }
  
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  
  .modal-header {
    padding-top: 0;
  }
  .mat-form-field-label-wrapper .mat-form-field-label {
    font-weight: normal;
    font-size: 14px;
    margin-top: 12px;
  }