<div class="row clearfix desktop-view-container" id="off-day-project">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content" [busy]="isLoading">
      <div class="header">
        <h2 class="title">{{ "Manage team working calendar" | localize }}</h2>
        <div class="filter-date">
          <div class="item">
            <mat-form-field appearance="outline">
              <mat-label>Year</mat-label>
              <mat-select
                name="yearSelect"
                [(value)]="year"
                (selectionChange)="onDayOffTypeChange()"
              >
                <mat-option *ngFor="let item of listYear" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Month</mat-label>
              <mat-select
                name="monthSelect"
                [(value)]="month"
                (selectionChange)="onDayOffTypeChange($event)"
              >
                <mat-option *ngFor="let item of listMonth" [value]="item">
                  {{ item + 1 }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="item2">
            <mat-radio-group *ngIf="permission.isGranted('AbsenceDayByProject.ViewByBranch')" aria-label="Select an option" class="filter-work-calendar">
              <mat-radio-button  [value]="true"  (change)="onChangeShowFilterByBranch()" checked="checked">
                <div [style.color]="!isRadiocheckfilterbyBranch ? 'gray' : 'red'">Filter by project</div>
              </mat-radio-button>
              <mat-radio-button style="padding-left: 10px;" [value]="false" (change)="onChangeShowFilterByBranch()"  (click)="onFilterBranchDirector()" class="pd-rest-mobile">
                <div [style.color]="isRadiocheckfilterbyBranch ? 'gray' : 'red'">Filter by branch</div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="item3">
            <div class="btn-group">
              <div
                class="btn btn-primary"
                name="previousBtn"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Previous
              </div>
              <div
                class="btn btn-outline-secondary"
                name="currentDateBtn"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Today
              </div>
              <div
                class="btn btn-primary"
                name="nextBtn"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Next
              </div>
            </div>
            <div class="icon-refresh-desktop">
              <button name="menuBtn" mat-icon-button [matMenuTriggerFor]="more">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #more="matMenu">
                <button name="refreshBtn" mat-menu-item (click)="refreshData()">
                  <mat-icon>refresh</mat-icon>
                  <span>{{ "Refresh" | localize }}</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="icon-refresh-mobile">
          <button name="menuBtn" mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more="matMenu">
            <button name="refreshBtn" mat-menu-item (click)="refreshData()">
              <mat-icon>refresh</mat-icon>
              <span>{{ "Refresh" | localize }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="row text-center p-20">
        <div class="pr-0 col-md-2 text-left">
          <div class="clearfix flex">
            <mat-form-field appearance="outline" class="search-email">
              <mat-label>Search by email</mat-label>
              <input
                name="searchText"
                matInput
                [(ngModel)]="searchText"
                (keyup.enter)="refreshData()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="pr-0 col-md-2"
            *ngIf="isRadiocheckfilterbyBranch">
              <app-multiple-select
                name="listProject"
                labelName="Project"
                [listOption]="listProject"
                (onChange)="onChangeListProjectIdSelected($event)"
                [defaultValue]="listProjectSelected"
                [disabled]="isLoading"
              >
              </app-multiple-select>
            </div>
              <div class="row1">
              <div class="pr-0 col-md-2 row1-child item-first">
                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select
                    name="dayAbsentStatus"
                    [(value)]="dayAbsentStatus"
                    (selectionChange)="onLeaveDayTypeChange()"
                  >
                    <mat-option
                      *ngFor="let item of dayAbsentStatusList"
                      [value]="APP_CONSTANT.AbsenceStatusFilter[item]"
                    >
                      {{ item }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="pr-0 col-md-2 row1-child item-second">
                <mat-form-field appearance="outline">
                  <mat-label>Request Type</mat-label>
                  <mat-select
                    name="absentDayType"
                    [(value)]="absentDayType"
                    (selectionChange)="onLeaveDayTypeChange()"
                  >
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option
                      *ngFor="let item of dayAbsentTypeList"
                      [value]="APP_CONSTANT.DayAbsenceType[item]"
                    >
                      {{ item }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 row1-child item-filter" style="margin-top: 7px;" *ngIf="absentDayType !== 0" >
                <button name="filterBtn" mat-flat-button (click)="onFilter()" color="primary">
                  Filter
                </button>
              </div>
            </div>
            <div class="row1">
              <div class="col-md-2 row1-child item-first" *ngIf="absentDayType === 0">
                <mat-form-field appearance="outline">
                  <mat-label>Type Of Request Type</mat-label>
                  <mat-select
                    name="dayType"
                    [(value)]="dayType"
                    (selectionChange)="onDayTypeChange()"
                  >
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option
                      *ngFor="let item of dayTypeList"
                      [value]="APP_CONSTANT.AbsenceType[item]"
                    >
                      {{ item | dayType  }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 row1-child item-second" *ngIf="absentDayType === 0">
                <mat-form-field appearance="outline">
                  <mat-label>Off Type</mat-label>
                  <mat-select
                    name="dayOffType"
                    id="dayOffType"
                    [(value)]="dayOffType"
                    (selectionChange)="onDayOffTypeChange()"
                  >
                    <mat-option class="option-off-type" [value]="-1">All</mat-option>
                    <mat-option
                      class="option-off-type"
                      *ngFor="let type of dayOffTypes"
                      [value]="type.id"
                      >{{ type.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 row1-child item-filter" style="margin-top: 7px;" *ngIf="absentDayType === 0">
                <button name="filterBtn" mat-flat-button (click)="onFilter()" color="primary">
                  Filter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div style="padding: 0px 20px 20px; overflow-x: scroll">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            class="spe-wrap"
            *ngSwitchCase="CalendarView.Month"
            [cellTemplate]="customCellTemplate"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (beforeViewRender)="getData($event)"
            (dayClicked)="dayClicked($event.day)"
          >
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-view" [busy]="isLoading">
  <div class="mobile-header">
    <h2 class="mobile-header-title">Manage Team Working Calendar</h2>
    <button name="menuBtnMb" mat-icon-button [matMenuTriggerFor]="moreMb" class="refresh-btn-mb">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMb="matMenu">
      <button name="refreshBtnMb" mat-menu-item (click)="refreshData()">
        <mat-icon>refresh</mat-icon>
        <span>{{ "Refresh" | localize }}</span>
      </button>
    </mat-menu>
  </div>

  <hr />

  <div class="mobile-search-filter">
    <div class="search-container">
      <input [(ngModel)]="searchText" (keyup.enter)="refreshData()" placeholder="Search by email"
        class="search-input" />
      <button (click)="refreshData()" mat-flat-button color="primary" class="search-button">
        <i class="material-icons search-icon-mb">search</i>
        <span class="search-text-mb">Search</span>
      </button>
    </div>
    <button (click)="openAdvancedFilter()" mat-flat-button color="primary" class="advanced-filter-button">
      Advanced Filter
    </button>
  </div>

  <div class="mobile-list-requests">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div *ngFor="let group of groupedRequests; let i = index; trackBy: trackByDate" class="panel panel-col-primary mobile-date-group">
        <div class="panel-heading date-group-header" role="tab" [attr.id]="'headingGroup-' + i">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" [attr.href]="'#collapseGroup-' + i" aria-expanded="false"
              [attr.aria-controls]="'collapseGroup-' + i" class="collapsed">
              <i class="material-icons" style="vertical-align: middle; margin-right: 8px;">date_range</i>
              <span style="font-weight: bold;">{{group.date}}</span>
            </a>
          </h4>
        </div>
        <div [attr.id]="'collapseGroup-' + i" class="panel-collapse collapse mobile-requests" role="tabpanel"
          [attr.aria-labelledby]="'headingGroup-' + i">
          <div class="panel-body">
            <div *ngFor="let item of group.requests; let last = last; trackBy: trackByRequestId" [style.margin-bottom]="last ? '0' : '10px'"
              class="request-item-card">

              <div class="request-item-header">
                <div class="user-info-mb">
                  <img [src]="getAvatar(item)" width="40" height="40" alt="Member"
                    style="border-radius: 50%; margin-right: 10px" />
                  <div class="user-details-mb">
                    <a [routerLink]="['app/main/leave-day-of-user/', item.userId]"
                      class="user-full-name-mb">{{item.fullName}}</a>
                    <div class="user-badges-mb">
                      <ng-container *ngIf="item.type || item.type == 0">
                        <span *ngIf="item.type == 0" class="label bg-red">{{getLabel(item.type)}}</span>
                        <span *ngIf="item.type == 1" class="label bg-green">{{getLabel(item.type)}}</span>
                        <span *ngIf="item.type == 2" class="label bg-blue">{{getLabel(item.type)}}</span>
                        <span *ngIf="item.type == 3" class="label bg-orange">{{getLabel(item.type)}}</span>
                        <span *ngIf="item.type == 5" class="label bg-purple">{{getLabel(item.type)}}</span>
                      </ng-container>

                      <span class="label" [style.backgroundColor]="item.branchColor">
                        {{item.branchDisplayName}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="leave-badges-container">
                  <span class="pin-wrap" [ngClass]="getListTypeClasses(item)">{{getLeaveTypeText(item)}}</span>
                  <span class="pin-wrap" [ngClass]="getListClasses(item)" style="margin-left: 3px;">{{getLeaveText(item)}}</span>
                </div>
              </div>

              <div class="request-details-grid-mb">
                <div class="grid-cell-label">Status</div>
                <div class="grid-cell-status">
                  <span class="label status-label day-off-state-pending" *ngIf="item.status === 1">
                    Pending
                  </span>
                  <span class="label status-label day-off-state-approved" *ngIf="item.status === 2">
                    Approved
                  </span>
                  <span class="label status-label day-off-state-reject" *ngIf="item.status === 3">
                    Rejected
                  </span>
                </div>

                <div class="grid-cell-label">Off Type</div>
                <div class="grid-cell-value">
                  <span *ngIf="item.leavedayType == 0  && !item.absenceTime">{{item.dayOffName}}</span>
                </div>

                <div class="grid-cell-label">Note</div>
                <div class="grid-cell-value">
                  <span>{{item.reason}}</span>
                </div>

                <div class="grid-cell-label-last">Submitted At</div>
                <div class="grid-cell-value-last">
                  <p>{{item.createTime | date : "dd/MM/yyyy HH:mm:ss"}}</p>
                </div>
              </div>

              <div class="request-footer-actions" *ngIf="permission.isGranted(APPROVAL_ABSENCE_DAY_PROJECT)">
                <button *ngIf="item.status !== 2" (click)="onApproveAbsence(item)"
                  class="approve-action-btn"><span>Approve</span></button>
                <div *ngIf="item.status === 1" class="action-separator"></div>
                <button *ngIf="item.status !== 3" (click)="onRejectAbsence(item)"
                  class="reject-action-btn"><span>Reject</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top position-relative" [attr.name]="'daySelectBtn-'+(day.date | date:'dd-MM-yyyy')" style="overflow: hidden">
    <span class="cal-day-badge" *ngIf="day.cssClass == 'back-red'">Off</span>
    <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0 && day.cssClass != 'back-red'">{{day.badgeTotal}}</span> -->
    <span class="cal-day-number">{{
      day.date | calendarDate : "monthViewDayNumber" : locale
    }}</span>
    <div class="cal-day-item">
      <div *ngFor="let item of day.events">
        <div
          style="
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0px 10px;
          "
        >
          <div>
            <img
              style="border-radius: 50%"
              [src]="getAvatar(item)"
              alt="avatar"
              class="avatar-user-request"
            />
          </div>
          <div>
            <span style="background-color: #03a9f4" class="pin-wrap">{{
              item.color.secondary
            }}</span>
          </div>
          <div style="display: flex">
            <span class="cal-day-badge" [ngClass]="getListTypeClasses(item.meta)">{{getLeaveTypeText(item.meta)}}</span>
            <span class="cal-day-badge" [ngClass]="getListClasses(item.meta)" style="margin-left: 5px;">{{getLeaveText(item.meta)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
