:host ::ng-deep .mat-form-field-flex {
    align-items: center;
}

:host ::ng-deep .mat-form-field-infix {
    display: flex;
    align-items: center;
    padding: 14px 0;
}

:host ::ng-deep .mat-form-field-suffix {
    display: flex;
    align-items: center;
}

:host ::ng-deep .mat-datepicker-toggle .mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-range-filter span {
    white-space: nowrap;
}

@media screen and (min-width: 992px) {
  .time-range-filter {
    flex: 1.8 !important;
  }
}

@media screen and (max-width: 600px) {
  .date-filter:first-child {
    margin-bottom: 14px !important;
  }
}