.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.close-icon {
    cursor: pointer;
    font-size: 24px;
}

.w-100 {
    width: 100%;
}

.m-l-10 {
    margin-left: 10px;
}

mat-dialog-actions {
    margin-bottom: 0;
    padding-bottom: 0;
}